To: @ViewBag.To
From: @ViewBag.From
Bcc: @ViewBag.Bcc
Subject: @ViewBag.Subject
Content-Type: text/html; charset=utf-8

<p>
    Matchen mellan @ViewBag.Team och @ViewBag.Opponent har registrerats med resultatet @ViewBag.Score-@ViewBag.AwayScore.
</p>
