@model Snittlistan.Web.Models.OneTimePasswordEmail
To: @Model.To
From: @Model.From
Bcc: @Model.Bcc
Subject: @(string.Format(
         "=?utf-8?B?{0}?=",
         Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("🎳 " + Model.Subject))))
Content-Type: text/html; charset=utf-8

<html>
<head>
</head>
<body>
    <p>
        Logga in genom att ange koden nedan:
    </p>
    <p>
        <span>@Model.OneTimePassword</span>
    </p>
    <p>
        Observera att koden kan skrivas flera ggr under en hel vecka.
        Passa på att logga in i alla dina enheter med samma kod.
    </p>
    <footer>
        <small>
            Det här är ett automatiskt mail som skickats från Snittlistan till @Model.To.
            Du kan ändra inställningarna för mail-utskick <a href="@Model.UserProfileLink">här</a>.
        </small>
    </footer>
</body>
</html>
