@model Snittlistan.Web.Models.UpdateRosterEmail
To: @Model.Bcc
From: @Model.From
Subject: @Model.Subject
Content-Type: text/html; charset=utf-8

<html>
<head>
</head>
<body>
    <p>
        Skulle skickas till @Model.To
    </p>
    <p>
        Laguttagningen har uppdaterats.
    </p>
    <p>
        <h1>@Model.FormattedAuditLog.Title</h1>
        <table>
            <tr>
                <th>Bord</th>
                <th>Namn</th>
            </tr>
            @for (int i = 0; i < 4; i++)
            {
                <tr>
                    <td rowspan="2">@(i + 1)</td>
                    <td>
                        @(Model.Players.ElementAtOrDefault(2 * i))
                    </td>
                </tr>
                <tr>
                    <td>
                        @(Model.Players.ElementAtOrDefault(2 * i + 1))
                    </td>
                </tr>
            }

            <tr>
                <td rowspan="2">R</td>
                <td>
                    @{
                        var reserve1 = Model.Players.ElementAtOrDefault(8);
                    }
                    @if (reserve1 != null)
                    {
                        @reserve1
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        var reserve2 = Model.Players.ElementAtOrDefault(9);
                    }
                    @if (reserve2 != null)
                    {
                        @reserve2
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Lagledare
                </td>
                <td>
                    @Model.TeamLeader
                </td>
            </tr>
        </table>
    </p>
</body>
</html>
