@model Snittlistan.Web.Models.UpdateRosterEmail
To: @Model.PlayerEmail
From: @Model.From
Reply-To: @Model.ReplyToEmail
Bcc: @Model.Bcc
Subject: @(string.Format(
         "=?utf-8?B?{0}?=",
         Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes("🎳 " + Model.Subject))))
Content-Type: text/html; charset=utf-8

<html>
<head>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <p>Hej @Model.Name!</p>
    <p>
        Laguttagningen har uppdaterats.
        @if (Model.NeedsAccept)
        {
            @:Klicka
            <a href="@Model.RosterLink">här</a>
            @:för att acceptera om du inte redan gjort det.
        }
    </p>
    <p>
        <dl>
            <dt>Hemmalag</dt>
            <dd>@Model.HomeTeamAlias</dd>
            <dt>Bortalag</dt>
            <dd>@Model.AwayTeamAlias</dd>
            <dt>Plats</dt>
            <dd>@Model.HallName</dd>
            <dt>Oljeprofil</dt>
            <dd><a href="@string.Format("https://bits.swebowl.se/MiscDisplay/Oilpattern/{0}", Model.OilProfileId)">@Model.OilProfileName</a></dd>
            <dt>När</dt>
            <dd>
                <em>
                    <time datetime="@Model.MatchDate.ToString("s")">
                        @Model.MatchDate.ToString(
                            "dddd d MMMM HH:mm",
                            new System.Globalization.CultureInfo("sv-SE"))
                    </time>
                </em>
            </dd>
        </dl>
    </p>
    <p>
        <h3>Laguttagning</h3>
        <table>
            <tr>
                <th>Bord</th>
                <th>Namn</th>
            </tr>
            @for (int i = 0; i < 4; i++)
            {
                <tr>
                    <td rowspan="2">@(i + 1)</td>
                    <td>
                        @(Model.Players.ElementAtOrDefault(2 * i))
                    </td>
                </tr>
                <tr>
                    <td>
                        @(Model.Players.ElementAtOrDefault(2 * i + 1))
                    </td>
                </tr>
            }

            <tr>
                <td rowspan="2">R</td>
                <td>
                    @{
                        var reserve1 = Model.Players.ElementAtOrDefault(8);
                    }
                    @if (reserve1 != null)
                    {
                        @reserve1
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        var reserve2 = Model.Players.ElementAtOrDefault(9);
                    }
                    @if (reserve2 != null)
                    {
                        @reserve2
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Lagledare
                </td>
                <td>
                    @Model.TeamLeader
                </td>
            </tr>
        </table>
    </p>
    <footer>
        <small>
            Det här är ett automatiskt mail som skickats från Snittlistan till @Model.PlayerEmail.
            Du kan ändra inställningarna för mail-utskick <a href="@Model.UserProfileLink">här</a>.
        </small>
    </footer>
</body>
</html>
