@model Match4x4ViewModel.MatchDetails

<table class="invis">
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.Location)</td>
        <td class="editor-field">
            @Html.TextBoxFor(
                model => model.Location,
                new
                {
                    data_autocomplete = Url.Action("LocationsQuickSearch", "Search"),
                    autofocus = "autofocus"
                })
            @Html.ValidationMessageFor(model => model.Location)
        </td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.Date)</td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </td>
    </tr>
</table>