@model TeamViewModel.Pair

<table class="team-editor">
    <thead>
        <tr>
            <td>Serie</td>
            <td>@Html.LabelFor(model => model.Serie1.Game1.Player)</td>
            <td>@Html.LabelFor(model => model.Serie1.Score)</td>
            <td>@Html.LabelFor(model => model.Serie1.Game1.Pins)</td>
            <td>@Html.LabelFor(model => model.Serie1.Game1.Strikes)</td>
            <td>@Html.LabelFor(model => model.Serie1.Game1.Misses)</td>
            <td>@Html.LabelFor(model => model.Serie1.Game1.OnePinMisses)</td>
            <td>@Html.LabelFor(model => model.Serie1.Game1.Splits)</td>
            <td>@Html.LabelFor(model => model.Serie1.Game1.CoveredAll)</td>
        </tr>
    </thead>
    <tbody>
        @Html.EditorFor(
            model => model.Serie1,
            "SerieEditor",
            new
            {
                label = @Html.LabelFor(model => model.Serie1),
                pair = ViewData["pair"],
                valueUpdate = "afterkeydown"
            })
        @Html.EditorFor(
            model => model.Serie2,
            "SerieEditor",
            new
            {
                label = @Html.LabelFor(model => model.Serie2),
                pair = ViewData["pair"],
                valueUpdate = "never"
            })
        @Html.EditorFor(
            model => model.Serie3,
            "SerieEditor",
            new
            {
                label = @Html.LabelFor(model => model.Serie3),
                pair = ViewData["pair"],
                valueUpdate = "never"
            })
        @Html.EditorFor(
            model => model.Serie4,
            "SerieEditor",
            new
            {
                label = @Html.LabelFor(model => model.Serie4),
                pair = ViewData["pair"],
                valueUpdate = "never"
            })
    </tbody>
</table>
