@model TeamViewModel.Pair

<h4>@Html.LabelFor(model => model.Serie1)</h4>
@Html.EditorFor(model => model.Serie1, "SerieEditor")

<h4>@Html.LabelFor(model => model.Serie2)</h4>
@Html.EditorFor(model => model.Serie2, "SerieEditor")

<h4>@Html.LabelFor(model => model.Serie3)</h4>
@Html.EditorFor(model => model.Serie3, "SerieEditor")

<h4>@Html.LabelFor(model => model.Serie4)</h4>
@Html.EditorFor(model => model.Serie4, "SerieEditor")
