@model Team4x4ViewModel.Player

@{
    int team = Convert.ToInt32(ViewData["team"]);
    int player = Convert.ToInt32(ViewData["player"]);
}

<table class="team-editor">
    <thead>
        <tr>
            <td>@Html.LabelFor(model => model.Game1.Player)</td>
            <td>@Html.LabelFor(model => model.Game1.Score)</td>
            <td>@Html.LabelFor(model => model.Game1.Pins)</td>
            <td>@Html.LabelFor(model => model.Game1.Strikes)</td>
            <td>@Html.LabelFor(model => model.Game1.Misses)</td>
            <td>@Html.LabelFor(model => model.Game1.OnePinMisses)</td>
            <td>@Html.LabelFor(model => model.Game1.Splits)</td>
            <td>@Html.LabelFor(model => model.Game1.CoveredAll)</td>
        </tr>
    </thead>
    <tbody>
        @* First serie *@
        <tr>
            <td>@Html.TextBoxFor(
                    model => model.Game1.Player,
                    new
                    {
                        data_bind = string.Format("value: team_{0}_player{1}, valueUpdate: 'afterkeydown'", team, player),
                        data_autocomplete = Url.Action("PlayersQuickSearch", "Search")
                    })</td>
            <td>@Html.TextBoxFor(model => model.Game1.Score, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Game1.Pins, new { type = "number" })</td>
            <td>@Html.TextBoxFor(
                model => model.Game1.Strikes,
                new
                {
                    type = "number",
                    data_bind = string.Format("value: team_{0}_player{1}_strikes1, valueUpdate: 'afterkeydown'", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game1.Misses,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes1, css: {{ 'input-validation-error': team_{0}_player{1}_strikes1 }}", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game1.OnePinMisses,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes1, css: {{ 'input-validation-error': team_{0}_player{1}_strikes1 }}", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game1.Splits,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes1, css: {{ 'input-validation-error': team_{0}_player{1}_strikes1 }}", team, player)
                })</td>
            <td>@Html.CheckBoxFor(
                model => model.Game1.CoveredAll,
                new
                {
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes1", team, player)
                })</td>
        </tr>
        @* Second serie *@
        <tr>
            <td>@Html.TextBoxFor(
                model => model.Game2.Player,
                new
                {
                    data_bind = string.Format("attr: {{ value: team_{0}_player{1} }}", team, player),
                    data_autocomplete = Url.Action("PlayersQuickSearch", "Search")
                })</td>
            <td>@Html.TextBoxFor(model => model.Game2.Score, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Game2.Pins, new { type = "number" })</td>
            <td>@Html.TextBoxFor(
                model => model.Game2.Strikes,
                new
                {
                    type = "number",
                    data_bind = string.Format("value: team_{0}_player{1}_strikes2, valueUpdate: 'afterkeydown'", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game2.Misses,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes2, css: {{ 'input-validation-error': team_{0}_player{1}_strikes2 }}", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game2.OnePinMisses,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes2, css: {{ 'input-validation-error': team_{0}_player{1}_strikes2 }}", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game2.Splits,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes2, css: {{ 'input-validation-error': team_{0}_player{1}_strikes2 }}", team, player)
                })</td>
            <td>@Html.CheckBoxFor(
                model => model.Game2.CoveredAll,
                new
                {
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes2", team, player)
                })</td>
        </tr>
        @* Third serie *@
        <tr>
            <td>@Html.TextBoxFor(
                    model => model.Game3.Player,
                    new
                    {
                        data_bind = string.Format("attr: {{ value: team_{0}_player{1} }}", team, player),
                        data_autocomplete = Url.Action("PlayersQuickSearch", "Search")
                    })</td>
            <td>@Html.TextBoxFor(model => model.Game3.Score, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Game3.Pins, new { type = "number" })</td>
            <td>@Html.TextBoxFor(
                model => model.Game3.Strikes,
                new
                {
                    type = "number",
                    data_bind = string.Format("value: team_{0}_player{1}_strikes3, valueUpdate: 'afterkeydown'", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game3.Misses,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes3, css: {{ 'input-validation-error': team_{0}_player{1}_strikes3 }}", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game3.OnePinMisses,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes3, css: {{ 'input-validation-error': team_{0}_player{1}_strikes3 }}", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game3.Splits,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes3, css: {{ 'input-validation-error': team_{0}_player{1}_strikes3 }}", team, player)
                })</td>
            <td>@Html.CheckBoxFor(
                model => model.Game3.CoveredAll,
                new
                {
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes3", team, player)
                })</td>
        </tr>
        @* Fourth serie *@
        <tr>
            <td>@Html.TextBoxFor(
                model => model.Game4.Player,
                new
                {
                    data_bind = string.Format("attr: {{ value: team_{0}_player{1} }}", team, player),
                    data_autocomplete = Url.Action("PlayersQuickSearch", "Search")
                })</td>
            <td>@Html.TextBoxFor(model => model.Game4.Score, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Game4.Pins, new { type = "number" })</td>
            <td>@Html.TextBoxFor(
                model => model.Game4.Strikes,
                new
                {
                    type = "number",
                    data_bind = string.Format("value: team_{0}_player{1}_strikes4, valueUpdate: 'afterkeydown'", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game4.Misses,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes4, css: {{ 'input-validation-error': team_{0}_player{1}_strikes4 }}", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game4.OnePinMisses,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes4, css: {{ 'input-validation-error': team_{0}_player{1}_strikes4 }}", team, player)
                })</td>
            <td>@Html.TextBoxFor(
                model => model.Game4.Splits,
                new
                {
                    type = "number",
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes4, css: {{ 'input-validation-error': team_{0}_player{1}_strikes4 }}", team, player)
                })</td>
            <td>@Html.CheckBoxFor(
                model => model.Game4.CoveredAll,
                new
                {
                    data_bind = string.Format("enable: team_{0}_player{1}_strikes4", team, player)
                })</td>
        </tr>
    </tbody>
</table>