@model TeamViewModel.Serie

<tr>
    <td rowspan="2">@ViewData["label"]</td>
    <td>@Html.EditorFor(model => model.Game1.Player)</td>
    <td>@Html.TextBoxFor(model => model.Game1.Pins, new { type = "number" })</td>
    <td rowspan="2">@Html.TextBoxFor(model => model.Score, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.Strikes, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.Misses, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.OnePinMisses, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.Splits, new { type = "number" })</td>
    <td>@Html.EditorFor(model => model.Game1.CoveredAll)</td>
</tr>
<tr>
    <td>@Html.EditorFor(model => model.Game2.Player)</td>
    <td>@Html.TextBoxFor(model => model.Game2.Pins, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game2.Strikes, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game2.Misses, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game2.OnePinMisses, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game2.Splits, new { type = "number" })</td>
    <td>@Html.EditorFor(model => model.Game2.CoveredAll)</td>
</tr>
