@model TeamViewModel.Serie

<table class="team-editor">
    <thead>
        <tr>
            <td>Bord</td>
            <td>@Html.LabelFor(model => model.Table1.Game1.Player)</td>
            <td>@Html.LabelFor(model => model.Table1.Game1.Pins)</td>
            <td>@Html.LabelFor(model => model.Table1.Score)</td>
            <td>@Html.LabelFor(model => model.Table1.Game1.Strikes)</td>
            <td>@Html.LabelFor(model => model.Table1.Game1.Misses)</td>
            <td>@Html.LabelFor(model => model.Table1.Game1.OnePinMisses)</td>
            <td>@Html.LabelFor(model => model.Table1.Game1.Splits)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1</td>
            <td>@Html.EditorFor(model => model.Table1.Game1.Player)</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game1.Pins, new { type = "number" })</td>
            <td rowspan="2">@Html.TextBoxFor(model => model.Table1.Score, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game1.Strikes, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game1.Misses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game1.OnePinMisses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game1.Splits, new { type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.Table1.Game2.Player)</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game2.Pins, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game2.Strikes, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game2.Misses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game2.OnePinMisses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table1.Game2.Splits, new { type = "number" })</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td>@Html.EditorFor(model => model.Table2.Game1.Player)</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game1.Pins, new { type = "number" })</td>
            <td rowspan="2">@Html.TextBoxFor(model => model.Table2.Score, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game1.Strikes, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game1.Misses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game1.OnePinMisses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game1.Splits, new { type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.Table2.Game2.Player)</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game2.Pins, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game2.Strikes, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game2.Misses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game2.OnePinMisses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table2.Game2.Splits, new { type = "number" })</td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td>@Html.EditorFor(model => model.Table3.Game1.Player)</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game1.Pins, new { type = "number" })</td>
            <td rowspan="2">@Html.TextBoxFor(model => model.Table3.Score, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game1.Strikes, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game1.Misses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game1.OnePinMisses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game1.Splits, new { type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.Table3.Game2.Player)</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game2.Pins, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game2.Strikes, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game2.Misses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game2.OnePinMisses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table3.Game2.Splits, new { type = "number" })</td>
        </tr>
        <tr>
            <td rowspan="2">4</td>
            <td>@Html.EditorFor(model => model.Table4.Game1.Player)</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game1.Pins, new { type = "number" })</td>
            <td rowspan="2">@Html.TextBoxFor(model => model.Table4.Score, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game1.Strikes, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game1.Misses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game1.OnePinMisses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game1.Splits, new { type = "number" })</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.Table4.Game2.Player)</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game2.Pins, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game2.Strikes, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game2.Misses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game2.OnePinMisses, new { type = "number" })</td>
            <td>@Html.TextBoxFor(model => model.Table4.Game2.Splits, new { type = "number" })</td>
        </tr>
    </tbody>
</table>