@model TeamViewModel

<table class="invis">
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.Name)</td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.Score)</td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Score)
            @Html.ValidationMessageFor(model => model.Score)
        </td>
    </tr>
</table>
<h3>@Html.LabelFor(model => model.Pair1)</h3>
@Html.EditorFor(model => model.Pair1, "PairEditor")
<h3>@Html.LabelFor(model => model.Pair2)</h3>
@Html.EditorFor(model => model.Pair2, "PairEditor")
<h3>@Html.LabelFor(model => model.Pair3)</h3>
@Html.EditorFor(model => model.Pair3, "PairEditor")
<h3>@Html.LabelFor(model => model.Pair4)</h3>
@Html.EditorFor(model => model.Pair4, "PairEditor")