@model MatchViewModel.Team

<h3>@Model.Name</h3>

<table>
    <tr><th>Namn</th><th>Serie</th><th>Banpoäng</th></tr>
    @foreach (var game in Model.Games)
    {
        <tr><td>@game.Player</td><td>@game.Pins</td><td>@game.Score</td></tr>
    }
    <tfoot><tr><td></td><td></td><td>@Html.ActionLink("+", "AddGame", new { id = ViewData["id"] })</td></tr></tfoot>
</table>
