@model TeamViewModel

<table class="invis">
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.Name)</td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.Score)</td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Score)
            @Html.ValidationMessageFor(model => model.Score)
        </td>
    </tr>
</table>
<h3>@Html.LabelFor(model => model.Serie1)</h3>
@Html.EditorFor(model => model.Serie1, "SerieEditor")
<h3>@Html.LabelFor(model => model.Serie2)</h3>
@Html.EditorFor(model => model.Serie2, "SerieEditor")
<h3>@Html.LabelFor(model => model.Serie3)</h3>
@Html.EditorFor(model => model.Serie3, "SerieEditor")
<h3>@Html.LabelFor(model => model.Serie4)</h3>
@Html.EditorFor(model => model.Serie4, "SerieEditor")