@model MatchViewModel.Game

@{
    ViewBag.Title = "Lägg till serie";
}

@section scripts
{
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Serie</legend>
@*
        <div class="editor-label">
            @Html.LabelFor(model => model.MatchId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MatchId)
            @Html.ValidationMessageFor(model => model.MatchId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Serie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Serie)
            @Html.ValidationMessageFor(model => model.Serie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Table)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Table)
            @Html.ValidationMessageFor(model => model.Table)
        </div>
*@
        <div class="editor-label">
            @Html.LabelFor(model => model.Player)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Player)
            @Html.ValidationMessageFor(model => model.Player)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pins)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pins)
            @Html.ValidationMessageFor(model => model.Pins)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Score)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Score)
            @Html.ValidationMessageFor(model => model.Score)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
