@model MatchViewModel

@{
    ViewBag.Title = "Registrera";
}

@section scripts
{
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Matchinformation</legend>

        <table class="invis">
            <tr>
                <td class="editor-label">@Html.LabelFor(model => model.Match.Place)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Match.Place)
                    @Html.ValidationMessageFor(model => model.Match.Place)
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(model => model.Match.Date)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Match.Date)
                    @Html.ValidationMessageFor(model => model.Match.Date)
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(model => model.HomeTeam.Name)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.HomeTeam.Name)
                    @Html.ValidationMessageFor(model => model.HomeTeam.Name)
                </td>
                <td class="editor-label">@Html.LabelFor(model => model.HomeTeam.Score)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.HomeTeam.Score)
                    @Html.ValidationMessageFor(model => model.HomeTeam.Score)
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(model => model.AwayTeam.Name)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.AwayTeam.Name)
                    @Html.ValidationMessageFor(model => model.AwayTeam.Name)
                </td>
                <td class="editor-label">@Html.LabelFor(model => model.AwayTeam.Score)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.AwayTeam.Score)
                    @Html.ValidationMessageFor(model => model.AwayTeam.Score)
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(model => model.Match.BitsMatchId)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Match.BitsMatchId)
                    @Html.ValidationMessageFor(model => model.Match.BitsMatchId)
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Skapa" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>
