@model MatchViewModel
@{
    ViewBag.Title = "Detaljer";
}

<h2>@ViewBag.Title</h2>
@Html.GenerateEditBackLinks(Model)

<fieldset>
    <legend>Match</legend>
    <table>
        <tr>
            <td>Datum</td><td>@Html.DisplayFor(model => model.Date)</td>
        </tr>
        <tr>
            <td>Match</td><td>@Html.DisplayFor(model => model.HomeTeam) - @Html.DisplayFor(model => model.AwayTeam)</td>
        </tr>
        <tr>
            <td>Resultat</td><td>@Html.DisplayFor(model => model.HomeTeamScore)-@Html.DisplayFor(model => model.AwayTeamScore)</td>
        </tr>
        <tr>
            <td>Plats</td><td>@Html.DisplayFor(model => model.Place)</td>
        </tr>
        <tr>
            <td>BITS</td><td>@Html.GenerateBitsLink(Model)</td>
        </tr>
    </table>
    <div class="games-viewmodel">
        <h3>Hemmalag</h3>
        @Html.Partial("GamesPartial", Model.HomeTeamGames)
        @Html.ActionLink("Lägg till serie", "AddGame", new { id = Model.Id })
    </div>
    <div class="games-viewmodel">
        <h3>Bortalag</h3>
        @Html.Partial("GamesPartial", Model.AwayTeamGames)
        @Html.ActionLink("Lägg till serie", "AddGame", new { id = Model.Id })
    </div>
</fieldset>
