@model MatchViewModel
@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>
<p>
@if (Request.IsAuthenticated)
{
    <text>@Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) |</text>
}
    @Html.ActionLink("Tillbaka", "Index")
</p>
<fieldset>
    <legend>Match</legend>
    <table>
        <tr>
            <td>Datum</td><td>@Html.DisplayFor(model => model.Date)</td>
        </tr>
        <tr>
            <td>Match</td><td>@Html.DisplayFor(model => model.HomeTeam) - @Html.DisplayFor(model => model.OppTeam)</td>
        </tr>
        <tr>
            <td>Resultat</td><td>@Html.DisplayFor(model => model.HomeTeamLaneScore)-@Html.DisplayFor(model => model.OppTeamLaneScore)</td>
        </tr>
        <tr>
            <td>Plats</td><td>@Html.DisplayFor(model => model.Place)</td>
        </tr>
        <tr>
            <td>BITS</td><td><a href="http://bits.swebowl.se/MatchFact.aspx?MatchId=@Model.Id">Matchfakta</td>
        </tr>
    </table>
    <div class="games-viewmodel">
        <table>
            <tr><th>Namn</th><th>Serie</th><th>Banpoäng</th></tr>
            @foreach (var game in Model.Games)
            {
                <tr><td>@game.Player</td><td>@game.PinScore</td><td>@game.LaneScore</td></tr>
            }
        </table>
    </div>
</fieldset>
