@model MatchViewModel.MatchDetails

@{
    ViewBag.Title = "Redigera";
}

@section scripts
{
    @Content.Script(ScriptType.JQueryValidate)
    @Content.Script(ScriptType.JQueryValidateUnobtrusive)
    @Content.Script(ScriptType.JQueryUI)
    @Content.Css(CssType.Blitzer)
    @Content.Script("date-picker.min.js", Url)
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Matchinformation</legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.EditorFor(model => model, "MatchEditor")
        <p>
            <input type="submit" value="Spara" />
        </p>
    }
</fieldset>

<div>
    @Html.ActionLink("Tillbaka", "Details", new { id = Model.Id })
</div>
