@model MatchViewModel

@{
    ViewBag.Title = "Edit";
}

@section scripts
{
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
}

<h2>Edit</h2>

@using (Html.BeginForm("Create", "Match")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>MatchViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Place)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Place)
            @Html.ValidationMessageFor(model => model.Place)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeam)
            @Html.ValidationMessageFor(model => model.HomeTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeamScore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeamScore)
            @Html.ValidationMessageFor(model => model.HomeTeamScore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayTeam)
            @Html.ValidationMessageFor(model => model.AwayTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeamScore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayTeamScore)
            @Html.ValidationMessageFor(model => model.AwayTeamScore)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
