@model EditTeamViewModel

@{
    ViewBag.Title = "Redigera";
}

@section scripts
{
    @Content.Script(ScriptType.JQueryValidate)
    @Content.Script(ScriptType.JQueryValidateUnobtrusive)
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Matchinformation</legend>
            @Html.EditorFor(model => model.Team, "TeamEditor")

            <p>
                <input type="submit" value="Spara" />
            </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka", "Details", new { id = Model.Id })
</div>