@model MatchViewModel

@{
    ViewBag.Title = "Redigera";
}

@section scripts
{
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Matchinformation</legend>
    @Html.EditorFor(model => model.Match, "MatchEditor")
    <h2>Hemmalag</h2>
    @Html.EditorFor(model => model.HomeTeam, "TeamEditor", new { id = Model.Match.Id })
    <h2>Bortalag</h2>
    @Html.EditorFor(model => model.AwayTeam, "TeamEditor", new { id = Model.Match.Id })
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
