@model EditTeamViewModel

@{
    ViewBag.Title = "Redigera";
}

@section scripts
{
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Matchinformation</legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.EditorFor(model => model.Team, "TeamEditor")
        <p>
            <input type="submit" value="Spara" />
        </p>
    }
</fieldset>

<div>
    @Html.ActionLink("Tillbaka", "Details", new { id = Model.Id })
</div>
