@model IEnumerable<MatchViewModel>

@{
    ViewBag.Title = "Matcher";
}

@helper CreateEditLink(MatchViewModel.MatchInfo item)
{
    if (Request.IsAuthenticated)
    {
        <text>@Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |</text>
    }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Registrera ny", "Create")
</p>
<table>
    <tr>
        <th>Datum</th>
        <th>Match</th>
        <th>Resultat</th>
        <th>Plats</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Info.Date)</td>
        <td>@Html.DisplayFor(modelItem => item.Info.HomeTeam) - @Html.DisplayFor(modelItem => item.Info.AwayTeam)</td>
        <td>@Html.DisplayFor(modelItem => item.Info.HomeTeamScore)-@Html.DisplayFor(modelItem => item.Info.AwayTeamScore)</td>
        <td>@Html.DisplayFor(modelItem => item.Info.Place)</td>
        <td>
            @CreateEditLink(item.Info)
            @Html.ActionLink("Detaljer", "Details", new { id = item.Info.Id })
            @* | @Html.ActionLink("Ta bort", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
