@model IEnumerable<MatchViewModel>

@{
    ViewBag.Title = "Matcher";
}

@helper CreateEditLink(MatchViewModel item)
{
    if (Request.IsAuthenticated)
    {
        <text>@Html.ActionLink("Redigera", "Edit", new { id = item.Match.Id }, new { data_button = "data_button" }) |</text>
    }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Registrera ny", "Register", new { }, new { data_button = "data_button" })
</p>

<table>
    <tr>
        <th>Datum</th>
        <th>Match</th>
        <th>Resultat</th>
        <th>Plats</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Match.Date)</td>
        <td>@Html.DisplayFor(modelItem => item.HomeTeam.Name) - @Html.DisplayFor(modelItem => item.AwayTeam.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.HomeTeam.Score)-@Html.DisplayFor(modelItem => item.AwayTeam.Score)</td>
        <td>@Html.DisplayFor(modelItem => item.Match.Location)</td>
        <td>
            @Html.ActionLink("Visa", "Details", new { id = item.Match.Id }, new { data_button = "data_button" })
        </td>
    </tr>
}

</table>
