@model RegisterMatchViewModel

@{
    ViewBag.Title = "Registrera";
}

@section scripts
{
    @Content.Script(ScriptType.JQueryValidate)
    @Content.Script(ScriptType.JQueryValidateLocalized)
    @Content.Script(ScriptType.JQueryValidateUnobtrusive)
    @Content.Script(ScriptType.JQueryUI)
    @Content.Script(ScriptType.JQueryUII18N)
    @Content.Css(CssType.Blitzer)
    @Content.Script("datepicker.min.js", Url)
    @Content.Script("knockout-1.3.0beta.js", Url)
    @Content.Script("autocomplete.min.js", Url)

<script type="text/javascript">
    var viewModel = {
        team_1_player1: ko.observable(""),
        team_1_player2: ko.observable(""),
        team_1_player3: ko.observable(""),
        team_1_player4: ko.observable(""),
        team_1_player5: ko.observable(""),
        team_1_player6: ko.observable(""),
        team_1_player7: ko.observable(""),
        team_1_player8: ko.observable(""),
        team_2_player1: ko.observable(""),
        team_2_player2: ko.observable(""),
        team_2_player3: ko.observable(""),
        team_2_player4: ko.observable(""),
        team_2_player5: ko.observable(""),
        team_2_player6: ko.observable(""),
        team_2_player7: ko.observable(""),
        team_2_player8: ko.observable("")
    };

    ko.applyBindings(viewModel);
</script>
}

<h2>@ViewBag.Title</h2>
<p>@Html.ActionLink("Tillbaka", "Index")</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Matchinformation</legend>

        <table class="invis">
            <tr>
                <td class="editor-label">@Html.LabelFor(model => model.Location)</td>
                <td class="editor-field">
                    @Html.TextBoxFor(
                        model => model.Location,
                        new
                        {
                            data_autocomplete = Url.Action("LocationsQuickSearch", "Search"),
                            autofocus = "autofocus"
                        })
                    @Html.ValidationMessageFor(model => model.Location)
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(model => model.Date)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Date)
                    @Html.ValidationMessageFor(model => model.Date)
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(model => model.BitsMatchId)</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BitsMatchId)
                    @Html.ValidationMessageFor(model => model.BitsMatchId)
                </td>
            </tr>
        </table>

        <h2>Hemmalag</h2>
        @Html.EditorFor(model => model.HomeTeam, "TeamEditor", new { team = 1 })

        <h2>Bortalag</h2>
        @Html.EditorFor(model => model.AwayTeam, "TeamEditor", new { team = 2 })

        <p>
            <input type="submit" value="Skapa" />
        </p>
    </fieldset>
}
