@model UserViewModel

@{
    ViewBag.Title = Model.IsActive ? "Inaktivera användare" : "Aktivera användare";
    var action = Model.IsActive ? "inaktivera" : "aktivera";
}

<div class="row">
    <div class="span8">
        <h3>@ViewBag.Title</h3>
        @using (Html.BeginForm("Activate", "User", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <p>Är du säker på att du vill @action denna användare?</p>
            <h4>Namn: @Model.Name, e-postadress: @Model.Email</h4>
            if (Model.IsActive == false)
            {
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            @Html.CheckBox("invite")
                            Skicka inbjudnings-mail (kräver lösenordsbyte)
                        </label>
                    </div>
                </div>
            }
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Spara</button>
                @Html.ActionLink("Avbryt", "Index", null, new { @class = "btn btn-large" })
            </div>
        }
    </div>
</div>
