@model Snittlistan.Web.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Byt lösenord</h2>
<p>
    Använd formuläret för att byta ditt lösenord.
</p>
<p>
    Nya lösenord måste vara minst 6 tecken långa.
</p>

@section scripts
{
    @Content.Script(ScriptType.JQueryValidate)
    @Content.Script(ScriptType.JQueryValidateLocalized)
    @Content.Script(ScriptType.JQueryValidateUnobtrusive)
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Lösenordet gick inte att ändra. Försök gärna igen.")
    <div>
        <fieldset>
            <legend>Kontoinformation</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            @Html.EditorFor(m => m.Email)
            <p>
                <input type="submit" value="Byt lösenord" />
            </p>
        </fieldset>
    </div>
}
