@model Snittlistan.Web.Areas.V2.Controllers.ActivityEditController.ActivityEditViewModel

@{
    Bundles.Reference("Content/js/ActivityEditor.js", "page");
}

<div class="control-group">
    <label class="control-label" for="season">Säsong:</label>
    <div class="controls">
        <input type="text"
               id="season"
               name="season"
               placeholder="Säsong"
               title="Ange säsong"
               pattern="\d*"
               required="required"
               value="@Model.Season" />
        <span class="help-block">
            Ange säsongen för aktiviteten. Skriv första delen av säsongen, t.ex. <strong>@Model.Season</strong>&minus;@(Model.Season + 1).
            Vanligtvis är det redan rätt ifyllt.
        </span>
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Title, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(x => x.Title, new { required = "required", maxlength = "80", autofocus = "autofocus" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Date, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(
            x => x.Date,
            new
            {
                @class = "date-picker",
                @readonly = "readonly",
                required = "required",
                placeholder = "Välj datum",
                data_datepicker = "",
                data_timepicker = "true"
            })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Message, new { @class = "control-label" })
    <div class="controls">
        @Html.HiddenFor(x => x.Message)
        <div data-quill>
            @Model.MessageDisplay
        </div>
    </div>
</div>
