@model Snittlistan.Web.Areas.V2.Indexes.AbsenceIndex.Result[]
@{
    Layout = null;
    var hideControls = ViewBag.HideControls;
}

<div class="row">
    <div class="span12">
        <table class="table table-condensed table-striped">
            <tr>
                <th>Namn</th>
                <th></th>
                @if (User.IsInRole(WebsiteRoles.Absence.EditAll) && hideControls == false)
                {
                    <th></th>
                    <th></th>
                }
            </tr>
            @foreach (var absence in Model)
            {
                <tr>
                    @{
                        var rowspan = string.IsNullOrWhiteSpace(absence.Comment) ? 1 : 2;
                    }
                    <td class="center" rowspan="@rowspan">@absence.PlayerName</td>
                    <td>
                        @Html.FormatDateSpan(absence.From, absence.To)
                    </td>

                    @if (User.IsInRole(WebsiteRoles.Absence.EditAll) && hideControls == false)
                    {
                        <td class="center" rowspan="@rowspan">
                            <a href="@Url.Action("Edit", new { id = absence.Id.Substring(absence.Id.LastIndexOf('-') + 1) })">
                                <i class="sprite-glyphicons_151_edit"></i>
                            </a>
                        </td>
                        <td class="center" rowspan="@rowspan">
                            <a href="@Url.Action("Delete", new { id = absence.Id.Substring(absence.Id.LastIndexOf('-') + 1) })">
                                <i class="sprite-glyphicons_016_bin"></i>
                            </a>
                        </td>
                    }
                </tr>
                if (string.IsNullOrWhiteSpace(absence.Comment) == false)
                {
                    <tr>
                        <td>@absence.Comment</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
