<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Content.Favicon(Url)
    @Content.Css("Site.css", Url)
    @Content.Css(CssType.Blitzer)
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Content.GA()
    @*@Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()*@
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>
                    @Html.ActionLink("Snittlistan", "Index", "Home")</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Matcher", "Index", "Match")</li>
                    <li>@Html.ActionLink("Om", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
            @RenderSection("footer", false)
        </footer>
    </div>
    <div id="feedbackTab"></div>
    @Content.Script(ScriptType.JQuery)
    @Content.Script(ScriptType.Modernizr)
    @Content.Script(ScriptType.JQueryUI)
    @Content.Script(ScriptType.JQueryUII18N)
    <script type="text/javascript">
        var logErrorUrl = '@Url.Action("LogJavaScriptError", "Error")';
        $(function () {
            $("#feedbackTab").click(function () {
                window.location.href = "mailto:dlidstrom@gmail.com?Subject=Önskemål Snittlistan";
            });
        });
    </script>
    @Content.Script("stacktrace.min.js", Url)
    @RenderSection("scripts", false)
</body>
</html>