<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Content.GA()
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>
                    Snittlistan</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                    <li>@Html.ActionLink("Om", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
            @RenderSection("footer", false)
        </footer>
    </div>
    @Content.Script("jquery-1.6.1.min.js", Url)
    @Content.Script("modernizr-1.7.min.js", Url)
    <script type="text/javascript">
        var logErrorUrl = '@Url.Action("LogJavaScriptError", "Error")';
    </script>
    @Content.Script("stacktrace.min.js", Url)
    @RenderSection("scripts", false)
</body>
</html>
