@model Snittlistan.Web.Areas.V2.ReadModels.ResultHeaderReadModel

@{
    var hideControls = false;
}

<div class="well well-small editable">
    @if (Request.IsAuthenticated && hideControls == false)
    {
        <div class="dropdown edit-left">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">
                <i class="sprite-glyphicons_019_cogwheel"></i>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("EditResult", "MatchResultAdmin", new { id = Model.BitsMatchId })">
                        <i class="sprite-glyphicons_151_edit"></i>
                        Redigera
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Delete", "MatchResultAdmin", new { id = Model.AggregateId })">
                        <i class="sprite-glyphicons_016_bin"></i>
                        Ta bort
                    </a>
                </li>
            </ul>
        </div>
    }
    <dl class="dl-horizontal">
        <dt>lag</dt>
        <dd>@Content.TeamLabel(Model.TeamLevel, Model.Team)</dd>
        <dt>plats</dt>
        <dd>@Model.Location</dd>
        <dt>motstånd</dt>
        <dd>@Model.Opponent</dd>
        <dt>när</dt>
        <dd>
            <em>
                <time datetime="@Model.Date.ToString("s")">
                    @Model.Date.ToString("dddd, 'den' d MMMM, HH:mm")
                </time>
            </em>
        </dd>
        <dt>Resultat</dt>
        <dd>@Model.TeamScore - @Model.OpponentScore</dd>
        <dt>BITS</dt>
        <dd>
            <a href="@Html.GenerateBitsUrl(Model.BitsMatchId)" target="_blank">
                Matchfakta
                <i class="icon-share-alt"></i>
            </a>
        </dd>
    </dl>
</div>
