@using System.Globalization
@model Snittlistan.Web.Areas.V2.ReadModels.ResultSeriesReadModel

@{
    ViewBag.Title = "Result";
}

<h3>Resultat</h3>
<table class="table table-condensed table-bordered table-striped">
    <tr>
        <td>#</td>
        <td>Namn</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>Tot</td>
        <td>Banp</td>
        <td>X</td>
        <td>/</td>
    </tr>
    @{
        var row = 1;
    }
    @foreach (var player in Model.SortedPlayers())
    {
        <tr>
            <td>@(row++)</td>
            <td>@player.Key</td>
            @for (int serie = 0; serie < 4; serie++)
            {
                <td>
                    @{
                        var game = player.Value[serie];
                    }
                    @(game != null ? game.Pins.ToString(CultureInfo.InvariantCulture) : "")
                </td>
            }
            @{
                var series = player.Value.Where(x => x != null).ToList();
            }
            <td>
                @series.Sum(x => x.Pins)
            </td>
            <td>
                @series.Sum(x => x.Score)
            </td>
            <td>
                @series.Sum(x => x.Strikes)
            </td>
            <td>
                @series.Sum(x => x.Spares)
            </td>
        </tr>
    }
    <tr>
        <td colspan="2"></td>
        <td>@Model.SerieSum(0)</td>
        <td>@Model.SerieSum(1)</td>
        <td>@Model.SerieSum(2)</td>
        <td>@Model.SerieSum(3)</td>
        <td>@Model.Total()</td>
        <td colspan="3"></td>
    </tr>
</table>
