@model List<Snittlistan.Infrastructure.Indexes.Matches_PlayerStats.Result>

@{
    ViewBag.Title = "Snittlistan";
}

<table>
    <thead>
        <tr>
            <th></th>
            <th>Namn</th>
            <th>Serier</th>
            <th>Banpoäng</th>
            <th>Medel</th>
            <th>Högsta</th>
            <th>X</th>
            <th>Miss</th>
            <th>9-</th>
            <th>Hål</th>
            <th>Täckta</th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0; i<Model.Count; i++)
        {
            var stat = Model[i];
            <tr>
                <td>@(i+1)</td>
                <td>@Html.ActionLink(stat.Player, "Player", new { player = stat.Player })</td>
                <td>@stat.Series</td>
                <td>@(string.Format("{0:F2}", (double)stat.Score / stat.Series))</td>
                <td>@(string.Format("{0:F1}", (double)stat.Pins / stat.Series))</td>
                <td>@stat.Max</td>
                <td>@(string.Format("{0:F2}", (double)stat.Strikes / stat.Series))</td>
                <td>@(string.Format("{0:F2}", (double)stat.Misses / stat.Series))</td>
                <td>@(string.Format("{0:F2}", (double)stat.OnePinMisses / stat.Series))</td>
                <td>@(string.Format("{0:F2}", (double)stat.Splits / stat.Series))</td>
                <td>@stat.CoveredAll</td>
            </tr>
        }
    </tbody>
</table>