@model PlayerMatchesViewModel

@{
    ViewBag.Title = Model.Player;
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Plats</th>
        <th>Klubb</th>
        <th>Datum</th>
        <th>Resultat</th>
        <th>Medel</th>
        <th>X</th>
        <th>Miss</th>
        <th>Serier</th>
        <th></th>
    </tr>

@foreach (var item in Model.Stats) {
    <tr>
        <td>@item.Location</td>
        <td>@item.Team</td>
        <td>@Html.DisplayFor(modelItem => item.Date)</td>
        <td>@item.Pins</td>
        <td>@string.Format("{0:F1}", (double)item.Pins / item.Series)</td>
        <td>@item.Strikes</td>
        <td>@item.Misses</td>
        <td>@item.Series</td>
        <td>@Html.ActionLink("Visa", string.Format("Details{0}", item.Type), "Match", new { id = item.MatchId.Split(new char[] { '-' }).ElementAt(1) }, new { data_button = "data_button" })</td>
    </tr>
}
</table>

<h2>Medel per serie</h2>
<table>
    <thead>
        <tr>
            <th>Banpoäng</th>
            <th>Poäng</th>
            <th>Högsta</th>
            <th>X</th>
            <th>Miss</th>
            <th>9-</th>
            <th>Hål</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(string.Format("{0:F2}", Model.Results.AverageScore))</td>
            <td>@(string.Format("{0:F1}", Model.Results.AveragePins))</td>
            <td>@Model.Last20.Max</td>
            <td>@(string.Format("{0:F2}", Model.Results.AverageStrikes))</td>
            <td>@(string.Format("{0:F2}", Model.Results.AverageMisses))</td>
            <td>@(string.Format("{0:F2}", Model.Results.AverageOnePinMisses))</td>
            <td>@(string.Format("{0:F2}", Model.Results.AverageSplits))</td>
        </tr>
    </tbody>
</table>

<h2>Medel senaste 20 serierna</h2>

<table>
    <thead>
        <tr>
            <th>Banpoäng</th>
            <th>Poäng</th>
            <th>Högsta</th>
            <th>X</th>
            <th>Miss</th>
            <th>9-</th>
            <th>Hål</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(string.Format("{0:F2}", Model.Last20.Score))</td>
            <td>@(string.Format("{0:F1}", Model.Last20.Pins))</td>
            <td>@Model.Last20.Max</td>
            <td>@(string.Format("{0:F2}", Model.Last20.Strikes))</td>
            <td>@(string.Format("{0:F2}", Model.Last20.Misses))</td>
            <td>@(string.Format("{0:F2}", Model.Last20.OnePinMisses))</td>
            <td>@(string.Format("{0:F2}", Model.Last20.Splits))</td>
        </tr>
    </tbody>
</table>