@model IEnumerable<Snittlistan.Web.Infrastructure.Indexes.Player_ByMatch.Result>

<h4>Resultat</h4>
<table>
    <thead>
        <tr>
            <th>Spelare</th>
            <th>Banpoäng</th>
            <th>Resultat</th>
            <th>X</th>
            <th>Miss</th>
            <th>Serier</th>
            <th>Medel</th>
            <th>Bästa serie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Player</td>
                <td>@item.Score</td>
                <td>@item.Pins</td>
                <td>@item.Strikes</td>
                <td>@item.Misses</td>
                <td>@item.Series</td>
                <td>@string.Format("{0:F2}", item.Pins / item.Series)</td>
                <td>@item.Max</td>
            </tr>
        }
        <tr></tr>
    </tbody>
</table>
