@model Snittlistan.Web.Areas.V2.Controllers.AuthenticationController.PasswordViewModel

@Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary", new { message = "Det gick inte att logga in." })
<div class="control-group">
    @Html.LabelFor(x => x.Email, new { @class = "control-label" })
    <div class="controls">
        @Html.HiddenFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { disabled = "disabled" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Password, new { @class = "control-label" })
    <div class="controls">
        @if (Model.OneTimeKey != null)
        {
            @Html.TextBoxFor(
                x => x.Password,
                new
                {
                    placeholder = "Ange kod du fått i mailen",
                    pattern = @"\d*",
                    required = "required",
                    type = "text",
                    minlength = "6",
                    maxlength = "6",
                    title = "Ange kod du fått i mailen, 6 siffror"
                })
        }
        else
        {
            @Html.TextBoxFor(x => x.Password, new
            {
                type = "password",
                placeholder = "Lösenord",
                required = "required"
            })
        }
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.RememberMe, new { @class = "control-label" })
    <div class="controls">
        @Html.CheckBoxFor(x => x.RememberMe)
        <span class="help-block">
            Förbli inloggad även när sidan stängs.
        </span>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary btn-large" type="submit">Logga in</button>
        <a class="btn btn-large" href="@Url.Action("Index", "Roster")">Avbryt</a>
    </div>
</div>
