@model Snittlistan.Web.Areas.V2.Controllers.AuthenticationController.PasswordViewModel

@Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary", new { message = "Det gick inte att logga in." })
<div class="control-group">
    @Html.LabelFor(x => x.Email, new { @class = "control-label" })
    <div class="controls">
        @Html.HiddenFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { disabled = "disabled" })
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(x => x.Password, new { @class = "control-label" })
    <div class="controls">
        @if (Model.OneTimeKey != null)
        {
            @Html.TextBoxFor(x => x.Password, new
            {
                placeholder = "Lösenord"
            })
        }
        else
        {
            @Html.TextBoxFor(x => x.Password, new
            {
                type = "password",
                placeholder = "Lösenord"
            })
        }
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            @Html.EditorFor(model => model.RememberMe) Kom ihåg mig
        </label>
        <span class="help-block">
            Med det här valet förblir du inloggad även när du stänger sidan.
        </span>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary btn-large" type="submit">Logga in</button>
        <a class="btn btn-large" href="@Url.Action("Index", "Roster")">Avbryt</a>
    </div>
</div>
