@model Snittlistan.Web.Areas.V2.Controllers.AuthenticationController.EmailViewModel
@{
    ViewBag.Title = "Logga in";
}
<div class="row">
    <div class="span6">
        <h3>@ViewBag.Title</h3>
        @if (ViewBag.PlayerId != null)
        {
             using (Html.BeginForm("LogOnEmail", "Authentication", FormMethod.Post, new
             {
                 @class = "form-horizontal"
             }))
             {
                 @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary", new
                 {
                     message = "Det gick inte att logga in."
                 })
                 <div class="control-group">
                     <label class="control-label" for="playerId">Spelare:</label>
                     <div class="controls">
                         @Html.DropDownList("PlayerId", null, new
                         {
                             required = "required",
                             id = "playerId"
                         })
                         <span class="help-block">
                             E-postadressen används för flera spelare. Välj den du vill logga in som.
                         </span>
                     </div>
                 </div>
                 <div class="control-group">
                     <div class="controls">
                         <button class="btn btn-primary btn-large" type="submit">Logga in</button>
                         <a class="btn btn-large" href="@Url.Action("Index", "Roster")">Avbryt</a>
                     </div>
                 </div>
             }
        }
        else
        {
            <p>Ange först din e-postadress.</p>
             using (Html.BeginForm("LogOnEmail", "Authentication", FormMethod.Post, new
             {
                 @class = "form-horizontal"
             }))
             {
                 @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary", new
                 {
                     message = "Det gick inte att logga in."
                 })
                 <div class="control-group">
                     @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                     <div class="controls">
                         @Html.EditorFor(
                             x => x.Email,
                             new
                             {
                                 autofocus = "autofocus",
                                 autocapitalization = "off"
                             })
                     </div>
                 </div>
                 <div class="control-group">
                     <div class="controls">
                         <button class="btn btn-primary btn-large" type="submit">Logga in</button>
                         <a class="btn btn-large" href="@Url.Action("Index", "Roster")">Avbryt</a>
                     </div>
                 </div>
             }
        }
    </div>
</div>
