@model Snittlistan.Web.Areas.V2.Controllers.AuthenticationController.PasswordViewModel
@{
    ViewBag.Title = "Logga in";
}
<div class="row">
    <div class="span6">
        <h3>@ViewBag.Title</h3>
        <p>Ange nu ditt lösenord.</p>
        @using (Html.BeginForm("LogOnPassword", "Authentication", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary", new { message = "Det gick inte att logga in." })
            <div class="control-group">
                @Html.LabelFor(x => x.Email)
                <div class="controls">
                    @Html.HiddenFor(x => x.Email)
                    @Html.DisplayFor(x => x.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Password)
                <div class="controls">
                    @Html.EditorFor(x => x.Password, new { placeholder = "Lösenord" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        @Html.EditorFor(model => model.RememberMe) Kom ihåg mig
                    </label>
                    <span class="help-block">
                        Med det här valet förblir du inloggad även när du stänger sidan.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary btn-large" type="submit">Logga in</button>
                    <a class="btn btn-large" href="@Url.Action("Index", "Roster")">Avbryt</a>
                </div>
            </div>
        }
    </div>
</div>
