@model Match4x4ViewModel.MatchDetails

@{
    ViewBag.Title = "Redigera";
    Bundles.Reference("Content/js/datepicker.js", "page");
    Bundles.Reference("Content/js/autocomplete.js", "page");
}

@section scripts
{
    @Content.Script(ScriptType.JQueryValidate)
    @Content.Script(ScriptType.JQueryValidateLocalized)
    @Content.Script(ScriptType.JQueryValidateUnobtrusive)
    @Bundles.RenderScripts("page")
}

<h2>@ViewBag.Title</h2>
<p>@Html.ActionLink("Tillbaka", "Details4x4", new { id = Model.Id }, new { data_button = "data_button" })</p>

<fieldset>
    <legend>Matchinformation</legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.EditorFor(model => model, "MatchEditor4x4")
        <p>
            <input type="submit" value="Spara" />
        </p>
    }
</fieldset>
