@using Snittlistan.Web.Infrastructure.Indexes
@model IEnumerable<Snittlistan.Web.Infrastructure.Indexes.Match_ByDate.Result>

@{
    ViewBag.Title = "Matcher";
}

@helper CreateEditLink(Match_ByDate.Result item)
{
    if (Request.IsAuthenticated)
    {
        <text>@Html.ActionLink("Redigera", "Edit", new { id = item.Id }, new { data_button = "data_button" }) |</text>
    }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Registrera ny 8x4", "Register8x4", new { }, new { data_button = "data_button" })
    @Html.ActionLink("Registrera ny 4x4", "Register4x4", new { }, new { data_button = "data_button" })
</p>

<table>
    <tr>
        <th>Datum</th>
        <th>Match</th>
        <th>Resultat</th>
        <th>Plats</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Date)</td>
        <td>@Html.DisplayFor(modelItem => item.HomeTeamName) - @Html.DisplayFor(modelItem => item.AwayTeamName)</td>
        <td>@Html.DisplayFor(modelItem => item.HomeTeamScore)-@Html.DisplayFor(modelItem => item.AwayTeamScore)</td>
        <td>@Html.DisplayFor(modelItem => item.Location)</td>
        <td>
            @Html.ActionLink("Visa", string.Format("Details{0}", item.Type), new { id = item.Id }, new { data_button = "data_button" })
        </td>
    </tr>
}

</table>
