@{
    Layout = "~/Areas/V2/Views/Shared/_Layout.cshtml";
}

<div class="lead">
    Installerad version: @Html.GetAssemblyVersion()
</div>

<div class="row">
    <div class="span12">
        <ul class="nav nav-pills">
            @Html.ActionMenuLink("Användare", "sprite-glyphicons_024_parents", "Users", Url.Action("Users"))
            @Html.ActionMenuLink("RavenDB", "sprite-glyphicons_140_database_lock", "Raven", Url.Action("Raven"))
            @Html.ActionMenuLink("Event Store", "sprite-glyphicons_141_database_plus", "EventStoreActions", Url.Action("EventStoreActions"))
            @Html.ActionMenuLink("E-post", "sprite-glyphicons_399_e-mail", "SendMail", Url.Action("SendMail"))
        </ul>
    </div>
</div>

@RenderBody()
