@model DocumentStoreStatisticsViewModel

<div class="row">
    <div class="span12">
        @Html.ActionLink("Reset Indexes", "ResetIndexes", null, new
        {
            @class = "btn btn-large"
        })
    </div>
</div>

<div class="row">
    <div class="span12">
        <dl>
            <dt>
                ActualIndexingBatchSize
            </dt>
            <dd>
                <table>
                    <tr>
                        <th>
                            Size
                        </th>
                        <th>
                            Timestamp
                        </th>
                    </tr>
                    @foreach (var item in Model.ActualIndexingBatchSize)
                    {
                        <tr>
                            <td>@item.Size</td>
                            <td>@item.Timestamp</td>
                        </tr>
                    }
                </table>
            </dd>
            <dt>
                ApproximateTaskCount
            </dt>
            <dd>
                @Model.ApproximateTaskCount
            </dd>
            <dt>
                CountOfDocuments
            </dt>
            <dd>
                @Model.CountOfDocuments
            </dd>
            <dt>
                CountOfIndexes
            </dt>
            <dd>
                @Model.CountOfIndexes
            </dd>
            <dt>
                CurrentNumberOfItemsToIndexInSingleBatch
            </dt>
            <dd>
                @Model.CurrentNumberOfItemsToIndexInSingleBatch
            </dd>
            <dt>
                CurrentNumberOfItemsToReduceInSingleBatch
            </dt>
            <dd>
                @Model.CurrentNumberOfItemsToReduceInSingleBatch
            </dd>
            <dt>
                DatabaseId
            </dt>
            <dd>
                @Model.DatabaseId
            </dd>
            <dt>
                DatabaseTransactionVersionSizeInMB
            </dt>
            <dd>
                @Model.DatabaseTransactionVersionSizeInMB
            </dd>
            <dt>
                Errors
            </dt>
            <dd>
                <table>
                    <tr>
                        <th>
                            Document
                        </th>
                        <th>
                            Error
                        </th>
                        <th>
                            Index
                        </th>
                        <th>
                            Timestamp
                        </th>
                    </tr>
                    @foreach (var item in Model.Errors)
                    {
                        <tr>
                            <td>@item.Document</td>
                            <td>@item.Error</td>
                            <td>@item.Index</td>
                            <td>@item.Timestamp</td>
                        </tr>
                    }
                </table>
            </dd>
            <dt>
                Extensions
            </dt>
            <dd>
                <table>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Installed
                        </th>
                    </tr>
                    @foreach (var item in Model.Extensions)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@string.Join(", ", item.Installed.Select(x => string.Format("{0} ({1})", x.Name, x.Assembly)))</td>
                        </tr>
                    }
                </table>
            </dd>
            <dt>
                Indexes
            </dt>
            <dd>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>IndexingAttempts</th>
                        <th>IndexingErrors</th>
                        <th>IndexingSuccesses</th>
                        <th>LastIndexedEtag</th>
                        <th>LastIndexedTimestamp</th>
                        <th>LastQueryTimestamp</th>
                        <th>LastReducedEtag</th>
                        <th>Performance</th>
                        <th>LastReducedTimestamp</th>
                        <th>ReduceIndexingAttempts</th>
                        <th>ReduceIndexingErrors</th>
                        <th>ReduceIndexingSuccesses</th>
                        <th>TouchCount</th>
                    </tr>
                    @foreach (var item in Model.Indexes)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.IndexingAttempts</td>
                            <td>@item.IndexingErrors</td>
                            <td>@item.IndexingSuccesses</td>
                            <td>@item.LastIndexedEtag</td>
                            <td>@item.LastIndexedTimestamp</td>
                            <td>@item.LastQueryTimestamp</td>
                            <td>@item.LastReducedEtag</td>
                            <td>@string.Join(
                                ", ",
                                item.Performance.Select(x => string.Format(
                                    "Duration={0};DurationMilliseconds={1};InputCount={2};OutputCount={3};Operation={4};Started={5}",
                                    x.Duration,
                                    x.DurationMilliseconds,
                                    x.InputCount,
                                    x.OutputCount,
                                    x.Operation,
                                    x.Started)))</td>
                            <td>@item.LastReducedTimestamp</td>
                            <td>@item.ReduceIndexingAttempts</td>
                            <td>@item.ReduceIndexingErrors</td>
                            <td>@item.ReduceIndexingSuccesses</td>
                            <td>@item.TouchCount</td>
                        </tr>
                    }
                </table>
            </dd>
            <dt>
                InMemoryIndexingQueueSize
            </dt>
            <dd>
                @Model.InMemoryIndexingQueueSize
            </dd>
            <dt>
                LastAttachmentEtag
            </dt>
            <dd>
                @Model.LastAttachmentEtag
            </dd>
            <dt>
                LastDocEtag
            </dt>
            <dd>
                @Model.LastDocEtag
            </dd>
            <dt>
                Prefetches
            </dt>
            <dd>
                <table>
                    <tr>
                        <th>
                            Size
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Retries
                        </th>
                        <th>
                            Timestamp
                        </th>
                    </tr>
                    @foreach (var item in Model.Prefetches)
                    {
                        <tr>
                            <td>@item.Size</td>
                            <td>@item.Duration</td>
                            <td>@item.Retries</td>
                            <td>@item.Timestamp</td>
                        </tr>
                    }
                </table>
            </dd>
            <dt>
                StaleIndexes
            </dt>
            <dd>
                <table>
                    <tr>
                        <th>
                            Name
                        </th>
                    </tr>
                    @foreach (var item in Model.StaleIndexes)
                    {
                        <tr>
                            <td>@item</td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
</div>
