@model RegisterBitsVerifyModel

@{
    ViewBag.Title = ViewBag.Title ?? "Registrera matchresultat";
}

<div class="row">
    <div class="span8">
        <form class="form-horizontal" method="POST" action="@Url.Action("RegisterBits")">
            @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary")
            <fieldset>
                <legend>
                    @ViewBag.Title
                </legend>
                @Html.HiddenFor(model => model.Season)
                <p>
                    Manuella resultat bör läggas in i den ordningen de spelades. Detta för att matchreferaten som använder sig av formkurvor ska bli så rätt som möjligt.
                </p>
            </fieldset>
            <div class="control-group">
                <label class="control-label" for="rosterid">Match:</label>
                <div class="controls">
                    @Html.DropDownList("rosterid", "Välj match")
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">Registrera</button>
                @Html.ActionLink("Avbryt", "Index", "MatchResult", null, new { @class = "btn btn-large" })
            </div>
        </form>
    </div>
</div>
