@model Team8x4ViewModel.Serie

@{
    int team = Convert.ToInt32(ViewData["team"]);
    int player = 2 * Convert.ToInt32(ViewData["pair"]);
    string valueUpdate = Convert.ToString(ViewData["valueUpdate"]);
}

<tr>
    <td rowspan="2">@ViewData["label"]</td>
    <td>@Html.TextBoxFor(
            model => model.Game1.Player,
            new
                {
                    data_bind = string.Format(
                        "value: team_{0}_player{1}, valueUpdate: '{2}'",
                        team,
                        player + 1,
                        valueUpdate),
                    data_autocomplete = Url.Action("PlayersQuickSearch", "Search")
                })</td>
    <td rowspan="2">@Html.TextBoxFor(model => model.Score, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.Pins, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.Strikes, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.Misses, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.OnePinMisses, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game1.Splits, new { type = "number" })</td>
    <td>@Html.EditorFor(model => model.Game1.CoveredAll)</td>
</tr>
<tr>
    <td>@Html.TextBoxFor(
            model => model.Game2.Player,
            new
                {
                    data_bind = string.Format(
                        "value: team_{0}_player{1}, valueUpdate: '{2}'",
                        team,
                        player + 2,
                        valueUpdate),
                    data_autocomplete = Url.Action("PlayersQuickSearch", "Search")
                })</td>
    <td>@Html.TextBoxFor(model => model.Game2.Pins, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game2.Strikes, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game2.Misses, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game2.OnePinMisses, new { type = "number" })</td>
    <td>@Html.TextBoxFor(model => model.Game2.Splits, new { type = "number" })</td>
    <td>@Html.EditorFor(model => model.Game2.CoveredAll)</td>
</tr>
