@{
    ViewBag.Title = "Snittlistan";
    Bundles.Reference("Content/css/main.less", "local");
    Bundles.Reference("Content/css/glyphicons.css");
    Bundles.Reference("Content/external/jquery/jquery-3.3.1.js");
    Bundles.Reference("Content/external/bootstrap/js/bootstrap.js");
    Bundles.Reference("Content/external/bootstrap/css/bootstrap.css");
    Bundles.Reference("Content/external/bootstrap/css/bootstrap-responsive.css");
    Bundles.Reference("Content/external/waypoints/waypoints-0.0.1.min.js");
    Bundles.Reference("Content/external/air-datepicker/datepicker.js");
    Bundles.Reference("Content/external/air-datepicker/datepicker.css");
}<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="@TenantConfiguration.WebAppTitle" />
    <meta name="google-site-verification" content="g8KwkjfVGgtu5zxYGhIEfJS4JGVkCMS1YMdp5WNOOpU" />
    <link
        rel="icon"
        href="@Url.ContentCacheBreak($"~/Content/css/images/{TenantConfiguration.Favicon}")" />
    <link
        rel="apple-touch-icon"
        sizes="@TenantConfiguration.AppleTouchIconSize"
        href="@Url.ContentCacheBreak($"~/Content/css/images/{TenantConfiguration.AppleTouchIcon}")" />
    <title>@ViewBag.Title</title>

    @Bundles.RenderStylesheets()
    @Bundles.RenderStylesheets("local")
    @RenderSection("stylesheets", false)
    @Content.GoogleAnalytics()
</head>
<body>
    @RenderSection("main")
    @Bundles.RenderScripts()
    @Bundles.RenderScripts("layout")
    @Bundles.RenderScripts("page")
</body>
</html>
