@using Snittlistan.Web
@{
    ViewBag.Title = "Snittlistan";
    Bundles.Reference("Content/css/main.less");
    Bundles.Reference("Content/css/glyphicons.css");
}
<!DOCTYPE html>
<html lang="se">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="google-site-verification" content="g8KwkjfVGgtu5zxYGhIEfJS4JGVkCMS1YMdp5WNOOpU" />
        <link rel="apple-touch-icon" href="@Url.Content("~/Content/css/images/touch-icon-iphone-precomposed.png")" />
        <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/css/images/touch-icon-ipad-precomposed.png")" />
        <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/css/images/touch-icon-iphone-retina-precomposed.png")" />
        <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Content/css/images/touch-icon-ipad-retina-precomposed.png")" />
        <title>@ViewBag.Title</title>
        @if (Html.ApplicationMode() == ApplicationMode.Debug)
        {
            <link href="@Url.Content("~/Content/external/bootstrap/css/bootstrap.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/external/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" />
        }
        else
        {
            <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        }
        @Bundles.RenderStylesheets()
        <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
        @Content.GoogleAnalytics()
    </head>
    <body ng-app>
        @* header will be placed here, as first element under body *@
        @* modal dialogs are placed here *@
        <div id="modal-root"></div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a href="@Url.RouteUrl("V2_default", new { controller = "Roster", action = "Index" })" class="brand">
                        Snittlistan
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            @Content.ControllerMenuLink(Html, "Omgångar", "sprite-glyphicons_045_calendar", "Roster", Url.Action("Index", "Roster"))
                            @Content.ControllerMenuLink(Html, "Resultat", "sprite-glyphicons_040_stats", "MatchResult", Url.Action("Index", "MatchResult"))
                            @Content.ControllerMenuLink(Html, "Frånvaro", "sprite-glyphicons_045_calendar", "Absence", Url.Action("Index", "Absence"))
                            @Content.ControllerMenuLink(Html, "Medlemmar", "sprite-glyphicons_043_group", "Player", Url.Action("Index", "Player"))
                            @Content.ControllerMenuLink(Html, "2011-2012", "sprite-glyphicons_090_table", "Home", Url.Action("Index", "Home", new { area = "V1" } ))
                        </ul>
                        <ul class="nav pull-right">
                            @if (Request.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="sprite-glyphicons_019_cogwheel"></i>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @if (Request.IsAdmin(User))
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "AdminTasks")">
                                                    <i class="sprite-glyphicons_023_cogwheels"></i>
                                                    Administration
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                        }
                                        <li class="nav-header">
                                            @User.Identity.Name
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LogOff", "Authentication")">
                                                <i class="sprite-glyphicons_203_lock"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("LogOn", "Authentication")">
                                        <i class="sprite-glyphicons_204_unlock"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" class="container">
            @RenderBody()
        </div>
        @* Use content delivery networks *@
        @if (Html.ApplicationMode() == ApplicationMode.Debug)
        {
            @Content.External("jquery/jquery.js", Url)
            @Content.External("bootstrap/js/bootstrap.js", Url)
            @Content.External("underscore/underscore-1.3.3/underscore.js", Url)
            @Content.External("backbone/backbone-0.9.2/backbone.js", Url)
        }
        else
        {
            @Content.Script(ScriptType.JQuery)
            <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
        }

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
        @* local scripts *@
        @Bundles.RenderScripts()
        @RenderSection("scripts", false)
    </body>
</html>
