@using Snittlistan.Web
@{
    ViewBag.Title = "Snittlistan";
    Bundles.Reference("Content/css/main.less");
    Bundles.Reference("Content/css/glyphicons.css");
    Bundles.Reference("Content/external/waypoints/waypoints-0.0.1.min.js");
    var websiteConfig = Html.GetWebsiteConfig();
    var tenantConfiguration = Html.GetTenantConfiguration();
}<!DOCTYPE html>
<html lang="se">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0,width=device-width" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="apple-mobile-web-app-title" content="@tenantConfiguration.WebAppTitle"/>
        <meta name="google-site-verification" content="g8KwkjfVGgtu5zxYGhIEfJS4JGVkCMS1YMdp5WNOOpU"/>
        <link rel="icon" href="@Url.ContentCacheBreak(string.Format("~/Content/css/images/{0}", tenantConfiguration.Favicon))" />
        <link rel="apple-touch-icon" sizes="@tenantConfiguration.AppleTouchIconSize" href="@Url.ContentCacheBreak(string.Format("~/Content/css/images/{0}", tenantConfiguration.AppleTouchIcon))" />
        <title>@ViewBag.Title</title>
        @if (Html.ApplicationMode() == ApplicationMode.Debug)
        {
            <link href="@Url.Content("~/Content/external/bootstrap/css/bootstrap.css")" rel="stylesheet" />
            <link href="@Url.Content("~/Content/external/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" />
        }
        else
        {
            <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        }
        @Bundles.RenderStylesheets()
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
        @Content.GoogleAnalytics()
    </head>
    <body ng-app>
        @* header will be placed here, as first element under body *@
        @* modal dialogs are placed here *@
        <div id="modal-root"></div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.RouteUrl("V2_default", new { controller = "Roster", action = "Index" })" class="brand">
                        Snittlistan
                    </a>
                    <div class="nav-collapse" data-nav-collapse>
                        <ul class="nav">
                            @Content.ControllerMenuLink(Html, "Omgångar", "sprite-glyphicons_045_calendar", "Roster", Url.Action("Index", "Roster"))
                            @Content.ControllerMenuLink(Html, "Resultat", "sprite-glyphicons_040_stats", "MatchResult", Url.Action("Index", "MatchResult"))
                            @Content.ControllerMenuLink(Html, "Frånvaro", "sprite-glyphicons_045_calendar", "Absence", Url.Action("Index", "Absence"))
                            @Content.ControllerMenuLink(Html, "Medlemmar", "sprite-glyphicons_043_group", "Player", Url.Action("Index", "Player"))
                            @if (websiteConfig.HasV1)
                            {
                                @Content.ControllerMenuLink(Html, "2011-2012", "sprite-glyphicons_090_table", "Home", Url.Action("Index", "Home", new { area = "V1" }))
                            }
                        </ul>
                        <ul class="nav pull-right">
                            @if (Request.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <button data-auth-menu-toggle class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="sprite-glyphicons_019_cogwheel"></i>
                                        <b class="caret"></b>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @if (Request.IsAdmin(User))
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "AdminTasks")">
                                                    <i class="sprite-glyphicons_023_cogwheels"></i>
                                                    Administration
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                        }
                                        <li class="nav-header">
                                            @User.Identity.Name
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LogOff", "Authentication")">
                                                <i class="sprite-glyphicons_203_lock"></i>
                                                Logga ut
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("LogOn", "Authentication")">
                                        <i class="sprite-glyphicons_204_unlock"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" class="container">
            @RenderBody()
        </div>
        @* Use content delivery networks *@
        @if (Html.ApplicationMode() == ApplicationMode.Debug)
        {
            @Content.External("jquery/jquery.js", Url)
            @Content.External("bootstrap/js/bootstrap.js", Url)
        }
        else
        {
            @Content.Script(ScriptType.JQuery)
            <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        }

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
        @* local scripts *@
        @Bundles.RenderScripts()
        @RenderSection("scripts", false)
        <script>
            $(function () {
                window.Waypoints.debug(true).intercept('a');
                $('[data-auth-menu-toggle]').on('click', function() {
                    setTimeout(function() {
                        $('[data-nav-collapse]').css({
                            height: 'auto'
                        });
                    });
                });
            });
        </script>
    </body>
</html>
