@model CreateRosterViewModel

<div class="control-group">
    <label class="control-label" for="season">Säsong:</label>
    <div class="controls">
        <input type="text"
               name="season"
               placeholder="Säsong"
               autofocus="autofocus"
               title="Ange säsong"
               pattern="\d*"
               required="required"
               value="@Model.Season" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="turn">Omgång:</label>
    <div class="controls">
        <select name="turn">
            @for (var i = 1; i <= 23; i++)
            {
                if (Model.Turn == i)
                {
                    <option selected>@i</option>
                }
                else
                {
                    <option>@i</option>
                }
            }
        </select>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="team">Lag:</label>
    <div class="controls">
        <input type="text"
               name="team"
               placeholder="Lag"
               autofocus="autofocus"
               autocorrect="off"
               autocomplete="off"
               spellcheck="false"
               value="@Model.Team"
               required
               data-enabletypeahead="yes"
               data-url="/search/teams" />
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            @Html.EditorFor(model => model.IsFourPlayer) 4-manna
        </label>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="location">Plats:</label>
    <div class="controls">
        <input type="text"
               name="location"
               placeholder="Bowlinghall"
               autocorrect="off"
               autocomplete="off"
               spellcheck="false"
               value="@Model.Location"
               required
               data-enabletypeahead="yes"
               data-url="/search/locations" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="opponent">Motståndare:</label>
    <div class="controls">
        <input type="text"
               name="opponent"
               placeholder="Motståndare"
               autocorrect="off"
               autocomplete="off"
               spellcheck="false"
               value="@Model.Opponent"
               required
               data-enabletypeahead="yes"
               data-url="/search/opponents" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="date">Datum:</label>
    <div class="controls">
        <input type="datetime-local"
               name="date"
               value="@Model.Date.ToString("yyyy-MM-ddThh:mm:ss")"
               required />
    </div>
</div>