@model CreateRosterViewModel

<div class="control-group">
    <label class="control-label" for="season">Säsong:</label>
    <div class="controls">
        <input type="text"
               name="season"
               placeholder="Säsong"
               autofocus="autofocus"
               required="required"
               value="@Model.Season" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="turn">Omgång:</label>
    <div class="controls">
        <select name="turn">
            @for (var i = 1; i <= 23; i++)
            {
                if (Model.Turn == i)
                {
                    <option selected>@i</option>
                }
                else
                {
                    <option>@i</option>
                }
            }
        </select>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="team">Lag:</label>
    <div class="controls">
        <input type="text"
               name="team"
               placeholder="Lag"
               autofocus="autofocus"
               autocorrect="off"
               autocomplete="off"
               value="@Model.Team"
               required
               data-enabletypeahead="yes"
               data-url="/search/teams" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="location">Plats:</label>
    <div class="controls">
        <input type="text"
               name="location"
               placeholder="Bowlinghall"
               autocorrect="off"
               autocomplete="off"
               value="@Model.Location"
               required
               data-enabletypeahead="yes"
               data-url="/search/locations" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="opponent">Motståndare:</label>
    <div class="controls">
        <input type="text"
               name="opponent"
               placeholder="Motståndare"
               autocorrect="off"
               autocomplete="off"
               value="@Model.Opponent"
               required
               data-enabletypeahead="yes"
               data-url="/search/opponents" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="date">Datum:</label>
    <div class="controls">
        <input type="date"
               name="date"
               value="@Model.Date.ToShortDateString()"
               required />
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="time">Tid:</label>
    <div class="controls">
        <input type="time"
               name="time"
               value="@Model.Time"
               required />
    </div>
</div>
