@model InitialDataViewModel
<div class="row">
    <div class="span6">
        <h2>Säsongen @Model.SeasonStart&minus;@Model.SeasonEnd</h2>
    </div>
</div>
<div class="row">
    <div class="span6">
        @if (Request.IsAuthenticated)
        {
            <a href="@Url.Action("Create")">
                <i class="icon-plus"></i>
                Lägg till match
            </a>
        }
    </div>
</div>
@foreach (var turn in Model.Turns)
{
    <h2>Omgång @turn.Turn</h2>
    <em>(@turn.StartDate.ToString("d MMM")&minus;@turn.EndDate.ToString("d MMM"))</em>
    int start = 0;
    var rosters = turn.Rosters.Skip(start).Take(3).ToList();
    while (rosters.Count > 0)
    {
        <div class="row">
            @foreach (var roster in rosters)
            {
                var id = roster.Id;
                <div class="span4">
                    @Html.DisplayFor(model => roster, "Roster")
                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("Edit", new { id })">
                            <i class="icon-edit"></i>
                            Redigera
                        </a>
                        <a href="@Url.Action("Delete", new { id })">
                            <i class="icon-minus-sign"></i>
                            Ta bort
                        </a>
                    }
                </div>
            }
        </div>
        start += 3;
        rosters = turn.Rosters.Skip(start).Take(3).ToList();
    }
}