@model InitialDataViewModel
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="span6 admin">
            <a href="@Url.Action("Create")">
                <i class="sprite-glyphicons_030_pencil"></i>
                Lägg till match
            </a>
        </div>
    </div>
}
@foreach (var turn in Model.Turns)
{
    <div class="row">
        <div class="span4">
            <h4 class="pull-left">Omgång @turn.Turn
                <em>(@Html.FormatDateSpan(turn.StartDate, turn.EndDate))</em>
            </h4>
            <a class="pull-right" href="@Url.Action("View", new { season = Model.SeasonStart, turn = turn.Turn })">
                <i class="sprite-glyphicons_029_notes_2"></i>
                Uttagningar
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
    var start = 0;
    while (true)
    {
        var rosters = turn.Rosters.Skip(start).Take(3).ToList();
        if (rosters.Count == 0)
        {
            break;
        }
    <div class="row">
        @foreach (var roster in rosters)
        {
            <div class="span4">
                @Html.DisplayFor(model => roster, "Roster")
            </div>
        }
    </div>
        start += 3;
    }
}