@model IEnumerable<PlayerStatusViewModel>

<div class="row">
    <div class="span12">
        <p class="lead">
            Verifiera att inga uttagna spelare har anmält frånvaro.
        </p>
        <table class="table table-condensed">
            <tr>
                <th>Namn</th>
                <th></th>
                <th>Säsong</th>
                <th><span class="badge badge-success">5</span></th>
                <th>Form</th>
            </tr>
            @foreach (var activity in Model)
            {
                <tr>
                    <td>@activity.Name</td>
                    <td>
                        @if (activity.Absences.Count > 0)
                        {
                            foreach (var absence in activity.Absences)
                            {
                                @Html.FormatDateSpan(absence.From, absence.To)
                                @absence.Comment
                            }
                        }

                        @foreach (var team in activity.Teams.SortRosters())
                        {
                            @Content.TeamLabel(team.TeamLevel, team.Team)
                        }
                    </td>
                    <td>
                        @string.Format("{0} ({1})", activity.PlayerForm.FormattedSeasonAverage(), activity.PlayerForm.TotalSeries)
                    </td>
                    <td>
                        @activity.PlayerForm.FormattedLast5Average()
                    </td>
                    <td class="@activity.PlayerForm.Class()">
                        @activity.PlayerForm.FormattedDiff()
                    </td>
                </tr>
            }
        </table>
    </div>
</div>