@model ViewTurnViewModel

<div class="row">
    <div class="span12">
        <h4 class="pull-left">Omgång @Model.Turn</h4>
        @if (Request.IsAuthenticated)
        {
            <div class="pull-right">
                <a  href="@Url.Action("Print", new { season = Model.Season, turn = Model.Turn })" style="margin-right: 1rem;">
                    <i class="sprite-glyphicons_015_print"></i>
                    Utskrift
                </a>
                <a  href="@Url.Action("Print", new { season = Model.Season, turn = Model.Turn, pdf = true })">
                    <i class="sprite-glyphicons_015_print"></i>
                    Pdf
                </a>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>

@{
    var start = 0;
    var rosters = Model.Rosters.Skip(start).Take(3).ToList();
}
@while (rosters.Count > 0)
{
    <div class="row">
        @foreach (var roster in rosters)
        {
            <div class="span4">
                @Html.DisplayFor(model => roster, "Roster", new { hideControls = true })
                @Html.DisplayFor(model => roster, "Players")
            </div>
        }
    </div>

    start += 3;
    rosters = Model.Rosters.Skip(start).Take(3).ToList();
}
@if (Request.IsAuthenticated)
{
    @Html.Action("PlayerStatus", new
    {
        turn = Model.Turn,
        season = Model.Season
    })
}