@model Snittlistan.Web.Areas.V2.Controllers.SupporterTravet.SupporterTravetViewController.ViewModel

@Html.Partial("_SupporterTravetModels_Header", Model.Header)

<h1>Omgång 1</h1>
@foreach (var turn in Model.Turns)
{
    <div class="row">
        <div class="span12">
            <h2>@turn.Index</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-condensed table-striped table-bordered">
                <tr>
                    <th>Lopp</th>
                    <th>Plats</th>
                    <th>Nummer</th>
                    <th>Odds</th>
                </tr>
                @for (var i = 0; i < turn.Races.Length; i++)
                {
                    var race = turn.Races[i];
                    for (var j = 0; j < race.Results.Length; j++)
                    {
                        var result = race.Results[j];
                        <tr>
                            @if (j == 0)
                            {
                                <td rowspan="@(race.Results.Length)">@race.RaceIndex</td>
                            }
                            <td>@(j + 1)</td>
                            <td>@result.Horse</td>
                            <td>@result.Odds</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}


<h1>Topplistan</h1>
<h3>Visa rader för medlem</h3>
<div style="margin-bottom: 1rem;">
    <!-- all icons here -->
    <div style="display: inline-block;">
        <!-- circle with initials, name under (two rows) -->
        <span style="border: 1px solid black; height: 40px; width: 40px; border-radius: 20px; display: flex">
            <span style="margin: auto">
                DL
            </span>
        </span>
        <span>Daniel L</span>
    </div>
    @for (int i = 0; i < 40; i++)
    {
        <div style="display: inline-block;">
            <!-- circle with initials, name under (two rows) -->
            <span style="border: 1px solid black; height: 40px; width: 40px; border-radius: 20px; display: flex">
                <span style="margin: auto">
                    DL
                </span>
            </span>
            <span>Daniel L</span>
        </div>
    }
</div>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>Rank</th>
        <th>Namn</th>
        <th>Poäng</th>
        <th>Medlem</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Daniel Lidström</td>
        <td>10234</td>
        <td>Lidas</td>
    </tr>
</table>
