@model RegisterSerie

<table class="table table-condensed table-bordered table-striped">
    <tr>
        <td>Namn</td>
        <td>Banpoäng</td>
        <td>Poäng</td>
        <td>X</td>
        <td>/</td>
    </tr>
    @for (var i = 0; i < Model.Serie.Tables.Count; i++)
    {
        <tr>
            <td>
                @Html.DropDownListFor(
                    m => m.Serie.Tables[i].Game1.Player,
                    Model.Players,
                    "Välj spelare")
            </td>
            <td rowspan="2">
                @Html.TextBoxFor(
                    m => m.Serie.Tables[i].Score,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "1"
                    })
            </td>
            <td>
                @Html.TextBoxFor(
                    m => m.Serie.Tables[i].Game1.Pins,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "300"
                    })
            </td>
            <td>
                @Html.TextBoxFor(
                    m => m.Serie.Tables[i].Game1.Strikes,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "12"
                    })
            </td>
            <td>
                @Html.TextBoxFor(
                    m => m.Serie.Tables[i].Game1.Spares,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "10"
                    })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(
                    m => m.Serie.Tables[i].Game2.Player,
                    Model.Players,
                    "Välj spelare")
            </td>
            <td>
                @Html.TextBoxFor(
                    m => m.Serie.Tables[i].Game2.Pins,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "300"
                    })
            </td>
            <td>
                @Html.TextBoxFor(
                    m => m.Serie.Tables[i].Game2.Strikes,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "12"
                    })
            </td>
            <td>
                @Html.TextBoxFor(
                    m => m.Serie.Tables[i].Game2.Spares,
                    new
                    {
                        @class = "span1",
                        required = "required",
                        type = "number",
                        pattern = @"\d*",
                        min = "0",
                        max = "10"
                    })
            </td>
        </tr>
    }
</table>
