@{
    Layout = "~/Areas/V2/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span12">
        <ul class="nav nav-pills">
            @Html.ActionMenuLink(
                "Matcher",
                string.Empty,
                "MatchResult",
                "Index",
                Url.Action("Index"))
            @Html.ActionMenuLink(
                "Veckans lag",
                string.Empty,
                "MatchResult",
                "Turns",
                Url.Action("Turns"))
            @Html.ActionMenuLink(
                "Form",
                string.Empty,
                "MatchResult",
                "Form",
                Url.Action("Form"))
            @Html.ActionMenuLink(
                "Elitmärken",
                string.Empty,
                "MatchResult",
                "EliteMedals",
                Url.Action("EliteMedals"))
        </ul>
    </div>
</div>

@RenderBody()
