@model TeamOfWeekViewModel

<div class="row">
    <div class="span12">
        <p class="lead">
            De första 9 spelarna varje omgång får en inteckning i veckans lag.
            Vinnare är den spelare som samlar flest inteckningar under säsongen.
        </p>
        <section>
            <h3>Aktuell ställning</h3>
            <table class="table table-condensed table-striped table-bordered">
                <tr>
                    <th>#</th>
                    <th>Namn</th>
                    <th>Antal</th>
                </tr>
                @{
                    var rank = 0;
                    var rankstep = 1;
                    var previous = int.MaxValue;
                }
                @foreach (var item in Model.Leaders.Top9Total)
                {
                    if (previous != item.Count)
                    {
                        rank += rankstep;
                        rankstep = 1;
                    }
                    else
                    {
                        rankstep++;
                    }

                    previous = item.Count;

                    <tr>
                        <td>@rank</td>
                        <td>@item.Name</td>
                        <td>@item.Count</td>
                    </tr>
                }
            </table>
        </section>
        @foreach (var week in Model.Weeks)
        {
            <section id="@string.Format("turn-{0}", week.Turn)">
                <h3>Omgång @week.Turn</h3>
                <table class="table table-condensed table-striped table-bordered table-medals">
                    <tr>
                        <th>#</th>
                        <th>Namn</th>
                        <th>Resultat</th>
                        <th>Lag</th>
                    </tr>
                    @{
                        var index = 0;
                        rank = 0;
                        rankstep = 1;
                        previous = int.MaxValue;
                    }
                    @foreach (var result in week.Players)
                    {
                        if (previous != result.Pins)
                        {
                            rank += rankstep;
                            rankstep = 1;
                        }
                        else
                        {
                            rankstep++;
                        }

                        previous = result.Pins;

                        var cl = string.Empty;
                        if (rank == 10)
                        {
                            cl = "top9";
                        }

                        <tr class="@cl">
                            <td>@rank</td>
                            <td>
                                @result.Name
                            </td>
                            <td>
                                @if (++index == 8)
                                {
                                    @:@string.Format(
                                          "{0} = {1}",
                                          result.PinsAndSeries,
                                          week.Top8)
                                }
                                else
                                {
                                    @result.PinsAndSeries
                                }
                                @Html.Raw(string.Join(" ", result.Medals.Select(x => x.ToHtml())))
                            </td>
                            <td>
                                @Content.TeamLabel(result.TeamLevel, result.Team)
                            </td>
                        </tr>
                    }
                </table>
            </section>
        }
    </div>
</div>