@model TeamOfWeekViewModel

<div class="row">
    <div class="span12">
        @*        <section>
            <h3>Aktuell ställning</h3>
            <table class="table table-condensed table-striped table-bordered">
                <tr>
                    <th>Namn</th>
                    <th>Antal</th>
                </tr>
                @foreach (var item in Model.Total)
                {
                    <tr>
                        <td>@item.Item1</td>
                        <td>@item.Item2</td>
                    </tr>
                }
            </table>
        </section>*@
        @foreach (var week in Model.Weeks)
        {
            <section id="@string.Format("turn-{0}", week.Turn)">
                <h3>Omgång @week.Turn</h3>
                <table class="table table-condensed table-striped table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Namn</th>
                        <th>Resultat</th>
                        <th>Lag</th>
                    </tr>
                    @{
                        var index = 0;
                    }
                    @foreach (var result in week.Players)
                    {
                        <tr>
                            <th>@(++index)</th>
                            <td>
                                @result.Name
                            </td>
                            <td>
                                @if (index == 8)
                                {
                                    @:@string.Format(
                                        "{0} = {1}",
                                        result.PinsAndSeries,
                                        week.Top8)
                                }
                                else
                                {
                                    @result.PinsAndSeries
                                }
                            </td>
                            <td>
                                @Content.TeamLabel(result.Team)
                            </td>
                        </tr>
                    }
                </table>
            </section>
        }
    </div>
</div>