@model MatchResultViewModel

<div class="row">
    <div class="span8">
        <h2>Resultat @Model.SeasonStart&minus;@Model.SeasonEnd</h2>
    </div>
</div>
<div class="row">
    <div class="span6 admin">
        @if (Request.IsAuthenticated)
        {
            <a href="@Url.Action("Register")">
                <i class="sprite-glyphicons_030_pencil"></i>
                Registrera matchresultat
            </a>
        }
    </div>
</div>
@foreach (var turn in Model.Turns.Keys.OrderBy(x => x))
{
    <div class="row">
        <div class="span12">
            @{
                var minDate = Model.Turns[turn].Select(x => x.Date)
                    .Min();
                var maxDate = Model.Turns[turn].Select(x => x.Date)
                    .Max();
            }
            <h4>
                Omgång @turn
                <em>
                    (<time datetime="@minDate.ToString("s")">@minDate.ToString("d MMM")</time>
                    &minus;
                    <time datetime="@maxDate.ToString("s")">@maxDate.ToString("d MMM")</time>)
                </em>
            </h4>
            <table class="table table-condensed table-striped result-header-table">
                <tr>
                    <th>Plats</th>
                    <th>Lag</th>
                    <th>Motståndare</th>
                    <th>Resultat</th>
                    <th></th>
                </tr>
                @{
                    var matchResults = Model.Turns[turn];
                }
                @foreach (var result in matchResults)
                {
                    <tr>
                        <td>@result.Location</td>
                        <td>@Content.TeamLabel(result.TeamLevel, result.Team)</td>
                        <td>@result.Opponent</td>
                        <td>@result.TeamScore&minus;@result.OpponentScore</td>
                        <td>@Html.ActionLink("Visa", "Details", new {
                                                                        id = result.BitsMatchId
                                                                    })</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
