@model MatchResultViewModel

@if (User.IsInRole2(WebsiteRoles.MatchResult.AddManualResult))
{
    <div class="row">
        <div class="span6 admin">
            <a href="@Url.Action("Register", "MatchResultAdmin")">
                <i class="sprite-glyphicons_030_pencil"></i>
                Manuellt
            </a>

            <div class="clearfix"></div>
        </div>
    </div>
}

@foreach (var turn in Model.Turns.Keys.OrderByDescending(x => x))
{
    var minDate = Model.Turns[turn].Select(x => x.Date)
        .Min();
    var maxDate = Model.Turns[turn].Select(x => x.Date)
        .Max();
    var matchResults = Model.Turns[turn];
    <div class="row">
        <h4>
            Omgång @turn
            <em>(@Html.FormatDateSpan(minDate.Date, maxDate.Date))</em>
        </h4>
        @foreach (var result in matchResults.SortResults())
        {
            <div class="span4">
                <div class="well-small">
                    <dl>
                        <dt>
                            Lag
                        </dt>
                        <dt>
                            @Content.TeamLabel(result.TeamLevel, result.Team)
                        </dt>
                        <dt>
                            Motståndare
                        </dt>
                        <dd>
                            @result.Opponent
                        </dd>
                        <dt>
                            Detaljer
                        </dt>
                        <dd>
                            <a href="@Url.Action("Details", new
                                     {
                                         id = result.BitsMatchId,
                                         result.RosterId
                                     })">
                                @result.FormattedResult
                            </a>
                        </dd>
                    </dl>
                    <p>
                        <strong>
                            @result.Location
                        </strong>
                        @result.MatchCommentary
                    </p>
                    @foreach (var part in result.BodyText)
                    {
                        <p>
                            @part
                        </p>
                    }
                </div>
            </div>
        }
    </div>
}
