@model SnittListan.Models.LogOnModel

@{
    ViewBag.Title = "Logga in";
}

<h2>Logga in</h2>
<p>
    Skriv din e-postadress och ditt lösenord. @Html.ActionLink("Registrera", "Register") dig om du inte har något konto.
</p>

@section scripts {
  @Content.Script("jquery.validate.min.js", Url)
  @Content.Script("jquery.validate.unobtrusive.min.js", Url)
}

@Html.ValidationSummary(true, "Inloggningen gick inte att genomföra. Försök gärna igen.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Kontoinformation</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Logga in" />
            </p>
        </fieldset>
    </div>
}
