@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section Scripts
{
    @Content.Script(ScriptType.JQueryValidate)
    @Content.Script(ScriptType.JQueryValidateUnobtrusive)
}
<h2>Gå med</h2>
<p>
    Lösenord måste vara minst 6 tecken långa.
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Kontot gick inte att skapa. Försök gärna igen.")
    <div class="register-form">
        <fieldset>
            <legend>Användarinformation</legend>
            <table>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.FirstName):</td>
                    <td class="editor-field">
                        @Html.TextBoxFor(m => m.FirstName, new { required = "required", placeholder = "Ange förnamn" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.LastName):</td>
                    <td class="editor-field">
                        @Html.TextBoxFor(m => m.LastName, new { required = "required", placeholder = "Ange efternamn" })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.Email):</td>
                    <td class="editor-field">
                        @Html.TextBoxFor(m => m.Email, new { required = "required", placeholder = "Ange e-postadress" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.ConfirmEmail):</td>
                    <td class="editor-field">
                        @Html.TextBoxFor(m => m.ConfirmEmail, new { required = "required", placeholder = "Ange e-postadressen igen" })
                        @Html.ValidationMessageFor(m => m.ConfirmEmail)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">@Html.LabelFor(m => m.Password):</td>
                    <td class="editor-field">
                        @Html.PasswordFor(m => m.Password, new { required = "required", placeholder = "Ange lösenord" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </td>
                </tr>
            </table>
            <p>
                <input type="submit" value="Registrera" />
            </p>
        </fieldset>
    </div>
}
