@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@section Scripts
{
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
}
<h2>Gå med</h2>
<p>
    Lösenord måste vara minst 6 tecken långa.
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Kontot gick inte att skapa. Försök gärna igen.")
    <div>
        <fieldset>
            <legend>Användarinformation</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.FirstName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.LastName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmEmail)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ConfirmEmail)
                @Html.ValidationMessageFor(m => m.ConfirmEmail)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <p>
                <input type="submit" value="Registrera" />
            </p>
        </fieldset>
    </div>
}
