@{
    Layout = "~/Areas/V2/Views/Shared/_SupporterTravetLayout.cshtml";
}

@model Snittlistan.Web.Areas.V2.Controllers.SupporterTravet.SupporterTravetTurnsController.ViewModel

@Html.Partial("_SupporterTravetModels_Header", Model.Header)

@for (int i = 2; i >= 1; i--)
{
    <h3>Omgång @i <small>@(DateTime.Today.AddDays(-7 * (7 - i - 4)).ToString("yyyy-MM-dd"))</small></h3>
    <p>Sammanfattande text om den här omgången.</p>
    <div>
        <h3>Raketen <small>(mest poäng)</small></h3>
        <table class="table table-bordered table-condensed">
            <tr>
                <th>
                    Namn
                </th>
                <th>
                    Poäng
                </th>
            </tr>
            <tr>
                <td>Daniel</td>
                <td>500</td>
            </tr>
            <tr>
                <td>Daniel</td>
                <td>500</td>
            </tr>
            <tr>
                <td>Daniel</td>
                <td>500</td>
            </tr>
        </table>
    </div>
    <h3>Topp-16</h3>
    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th>Placering</th>
            <th>Namn</th>
            <th>Poäng</th>
        </tr>
        @for (int j = 16; j >= 1; j--)
        {
            <tr>
                <td>@(16 - j + 1)</td>
                <td>Daniel</td>
                <td>@(i * j * 1000)</td>
            </tr>
        }
    </table>
    @Html.ActionLink("Visa alla resultat", "Index", "SupporterTravetView", new { @class = "btn btn-success" })
    <hr />
}
