@model InitialDataViewModel
@{
    Layout = "_Layout.cshtml";
}
<div class="row">
    <div class="span4">
        <h2>Säsongen @Model.SeasonStart&minus;@Model.SeasonEnd</h2>
    </div>
    <div class="span4">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Lägg till match", "AddMatch", "App", null, new { @class = "btn btn-link" })
        }
    </div>
</div>
@foreach (var turn in Model.Turns)
{
    <h2>Omgång @turn.Turn <em>(@turn.StartDate.ToShortDateString()&minus;@turn.EndDate.ToShortDateString())</em></h2>
    int start = 0;
    var rosters = turn.Rosters.Skip(start).Take(3).ToList();
    while (rosters.Count > 0)
    {
        <div class="row">
            @foreach (var roster in rosters)
            {
                <div class="span4">
                    <section class="well well-small">
                        <dl class="dl-horizontal">
                            <dt>lag</dt>
                            <dd><span class="label @string.Format("{0}{1}", "label-team-", @roster.TeamLevel)">@roster.Team</span></dd>
                            <dt>plats</dt>
                            <dd>@roster.Location</dd>
                            <dt>motstånd</dt>
                            <dd>@roster.Opponent</dd>
                            <dt>när</dt>
                            <dd><em>@roster.Date</em></dd>
                        </dl>
                    </section>
                </div>
            }
        </div>
        start += 3;
        rosters = turn.Rosters.Skip(start).Take(3).ToList();
    }
}