@using Raven.Abstractions
@model ActivityViewModel

@{
    var showViewMoreLink = Convert.ToBoolean(ViewData["showViewMoreLink"]);
    var showComments = Convert.ToBoolean(ViewData["showComments"]);
}

<div class="row">
    <div class="span12">
        <div class="well well-small activity-container">
            <img class="activity-image"
                 src="@Url.ContentCacheBreak($"~/Content/css/images/{Model.AppleTouchIcon}")"
                 alt="@Model.FullTeamName" />
            <div class="activity-content-container">
                <h4 class="activity-main-title">
                    @Model.Title
                    <em>
                        (<time datetime="@($"{Model.ActivityDate:s}")">@Model.ActivityDate.ToString("d MMMM HH:mm")</time>)
                    </em>
                    @if (Model.ActivityDate.ToUniversalTime() < SystemTime.UtcNow)
                    {
                        <span class="label label-important">PASSERAT</span>
                    }
                </h4>
                <h5 class="activity-sub-title">
                    @Model.Author
                </h5>
                @if (showViewMoreLink)
                {
                    <div class="cropped-message-well">@Model.MessageHtml</div>
                    @Html.ActionLink("Visa mer", "Index", "ActivityDetails", null, null, "disqus_thread", new { Model.Id }, null)
                }
                else
                {
                    <div>@Model.MessageHtml</div>
                }
            </div>
        </div>
    </div>
</div>
@if (showComments)
{
    <div class="row">
        <div class="span12">
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://snittlistan.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
}