@model Snittlistan.Web.Areas.V2.ReadModels.ResultSeriesReadModel.Table
@{
    var players = (PlayerViewModel[])ViewData["players"];
}
<tr>
    <td>
        @Html.DropDownListFor(
            m => m.Game1.Player,
            players.Select(x => new SelectListItem
            {
                Text = x.Name,
                Value = x.Id,
                Selected = x.Id == Model.Game1.Player,
            }),
            "Välj spelare")
    </td>
    <td rowspan="2">
        @Html.TextBoxFor(
            m => m.Score,
            new
            {
                @class = "span1",
                required = "required",
                type = "number",
                pattern = @"\d+",
                title = "0 eller 1",
                min = "0",
                max = "1",
                value = Model.Score
            })
    </td>
    <td>
        @Html.TextBoxFor(
            m => m.Game1.Pins,
            new
            {
                @class = "span1",
                required = "required",
                type = "number",
                pattern = @"\d+",
                title = "0 till 300",
                min = "0",
                max = "300",
                value = Model.Game1.Pins
            })
    </td>
    <td>
        @Html.TextBoxFor(
            m => m.Game1.Strikes,
            new
            {
                @class = "span1",
                required = "required",
                type = "number",
                pattern = @"\d+",
                title = "0 till 12",
                min = "0",
                max = "12",
                value = Model.Game1.Strikes
            })
    </td>
    <td>
        @Html.TextBoxFor(
            m => m.Game1.Spares,
            new
            {
                @class = "span1",
                required = "required",
                type = "number",
                pattern = @"\d+",
                title = "0 till 10",
                min = "0",
                max = "10",
                value = Model.Game1.Spares
            })
    </td>
</tr>
<tr>
    <td>
        @Html.DropDownListFor(
            m => m.Game2.Player,
            players.Select(x => new SelectListItem
            {
                Text = x.Name,
                Value = x.Id,
                Selected = x.Id == Model.Game2.Player
            }),
            "Välj spelare")
    </td>
    <td>
        @Html.TextBoxFor(
            m => m.Game2.Pins,
            new
            {
                @class = "span1",
                required = "required",
                type = "number",
                pattern = @"\d+",
                title = "0 till 300",
                min = "0",
                max = "300",
                value = Model.Game2.Pins
            })
    </td>
    <td>
        @Html.TextBoxFor(
            m => m.Game2.Strikes,
            new
            {
                @class = "span1",
                required = "required",
                type = "number",
                pattern = @"\d+",
                title = "0 till 12",
                min = "0",
                max = "12",
                value = Model.Game2.Strikes
            })
    </td>
    <td>
        @Html.TextBoxFor(
            m => m.Game2.Spares,
            new
            {
                @class = "span1",
                required = "required",
                type = "number",
                pattern = @"\d+",
                title = "0 till 10",
                min = "0",
                max = "10",
                value = Model.Game2.Spares
            })
    </td>
</tr>
