@model PlayerDataViewModel
<div class="row">
    <div class="span6">
        <h2>Spelare och supporters</h2>
    </div>
</div>
<div class="row">
    <div class="span6">
        @if (Request.IsAuthenticated)
        {
            <a href="@Url.Action("Create")">
                <i class="icon-plus"></i>
                Lägg till spelare
            </a>
        }
    </div>
</div>
<div class="row">
    <div class="span8">
        <table class="table table-condensed">
            <tr>
                <th>Namn</th>
                <th>Status</th>
                @if (Request.IsAuthenticated)
                {
                    <th>E-postadress</th>
                    <th></th>
                }
            </tr>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>
                        @if (player.IsSupporter)
                        {
                            <text>Supporter</text>
                        }
                        else
                        {
                            <text>Aktiv</text>
                        }
                    </td>
                    @if (Request.IsAuthenticated)
                    {
                        <td>@player.Email</td>
                        <td>
                            @Html.ActionLink("Redigera", "Edit", new { player.Id })
                            | @Html.ActionLink("Ta bort", "Delete", new { player.Id })
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
