@model List<PlayerViewModel>
<div class="row">
    <div class="span6">
        <h2>Spelare och supporters</h2>
    </div>
</div>
<div class="row">
    <div class="span6">
        @if (Request.IsAuthenticated)
        {
            <a href="@Url.Action("Create")">
                <i class="sprite-glyphicons_006_user_add"></i>
                Lägg till spelare
            </a>
        }
    </div>
</div>
<div class="row">
    <div class="span8">
        <table class="table table-condensed table-striped">
            <tr>
                <th>Namn</th>
                <th>Status</th>
                @if (Request.IsAuthenticated)
                {
                    <th>E-postadress</th>
                    <th></th>
                    <th></th>
                }
            </tr>
            @foreach (var player in Model)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>
                        @if (player.IsSupporter)
                        {
                            <text>Supporter</text>
                        }
                        else
                        {
                            <text>Aktiv</text>
                        }
                    </td>
                    @if (Request.IsAuthenticated)
                    {
                        <td>@player.Email</td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = player.Id.Substring(player.Id.LastIndexOf('-') + 1) })">
                                <i class="sprite-glyphicons_151_edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete", new { id = player.Id.Substring(player.Id.LastIndexOf('-') + 1) })">
                                  <i class="sprite-glyphicons_016_bin"></i>
                              </a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
